<div class="modal-form">
    <form action="" #signupform="ngForm">
        <div class="form-group">
            <input type="text" name="FirstName" id="FirstName" placeholder="First Name" class="custom-input"
                pattern="[a-zA-Z ]*" required [(ngModel)]="signupUserDetails.FirstName" #firstname="ngModel">
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched || signupform.submitted)"
                class="text-error text-left">
                <div *ngIf="firstname.errors.required">First Name is required</div>
                <div *ngIf="firstname.hasError('pattern')">Please enter only alphabets</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" name="LastName" id="LastName" placeholder="Last Name" class="custom-input"
                pattern="[a-zA-Z ]*" required [(ngModel)]="signupUserDetails.LastName" #lastname="ngModel">
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched || signupform.submitted)"
                class="text-error text-left">
                <div *ngIf="lastname.errors.required">Last Name is required</div>
                <div *ngIf="lastname.hasError('pattern')">Please enter only alphabets</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" placeholder="E-mail" name="E-Mail" id="E-Mail" class="custom-input"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="signupUserDetails.Email"
                #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched || signupform.submitted)"
                class="text-error text-left">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.hasError('pattern')">This value should be a valid email.</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="Password" id="Password" class="custom-input"
                pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]*" required
                [(ngModel)]="signupUserDetails.Password" #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched || signupform.submitted)"
                class="text-error text-left">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.hasError('pattern')">Please enter valid Password.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input type="text" placeholder="Country" name="Country" id="Country" class="custom-input" required
                        [(ngModel)]="signupUserDetails.Country" #country="ngModel">
                    <div *ngIf="country.invalid && (country.dirty || country.touched || signupform.submitted)"
                        class="text-error text-left">
                        <div *ngIf="country.errors.required">Country is required</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <input type="number" placeholder="Phone Number" name="PhoneNumber" id="PhoneNumber"
                        class="custom-input" required [(ngModel)]="signupUserDetails.PhoneNumber"
                        #phonenumber="ngModel">
                    <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched || signupform.submitted)"
                        class="text-error text-left">
                        <div *ngIf="phonenumber.errors.required">Phone Number is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-green" [disabled]="!signupform.form.valid" (click)="signUpUser()">Sign
                Up</button>
        </div>
        <div class="if-no-account">
            Already have an account? <span class="anchor-tag" (click)="OnSignInClick()">Signin Now</span>
        </div>
    </form>
</div>