<div class="modal-form">
    <form action="">
        <div class="form-group">
           <input type="text" placeholder="E-mail" class="custom-input">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Password" class="custom-input">
        </div>
        <div class="login-check-link form-group">
            <div class="login-check">
                <label for="">
                    <input type="checkbox"><span>Remember me</span>
                </label>
            </div>
            <div class="login-rem-me">
                <span class="anchor-tag">Forgot Password?</span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-green">Sign In</button>
        </div>
        <div class="form-group">
            <div class="login-option">Or</div>
        </div>
        <div class="form-group">
            <div class="linkeding-option">
                <span class="anchor-tag signin-linkeding">
                    <svg class="icon" viewBox="0 0 900 900">
                        <use xlink:href="#linkedinIcon"></use>
                    </svg>
                    Sign in with Linkedin</span>
            </div>
        </div>
        <div class="if-no-account">
            Don’t have an account? <span class="anchor-tag" >Signup Now</span>
        </div>
    </form>
</div>