<div class="modalview">
    <div class="modal-left-panel">
        <div class="modal-left-panel-content">
            <h2>TIMELY EXPERT ADVICE</h2>
            <h4>anytime, anywhere</h4>
        </div>
    </div>
    <div class="modal-right-panel">
        <div class="modal-right-panel-content">
            <div class="modal-logo">
                <img src="assets/images/home/login-logo.png" alt="chatXpert">
            </div>
            <div class="modal-form">
                <form action="">
                    <div class="form-group">
                       <input type="text" placeholder="Full Name" class="custom-input">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="User Name" class="custom-input">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="E-mail" class="custom-input">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Password" class="custom-input">
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" placeholder="Country" class="custom-input">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <input type="text" placeholder="Phone Number" class="custom-input">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-green">Sign Up</button>
                    </div>
                    <div class="if-no-account">
                        Already have an account? <a href="javascript:void(0)">Signin Now</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>