<div class="profile-setting-main">
    <div class="profile-setting-head">
        <h3>Inbox</h3>
        <div class="pro-set-tabs">
            <div class="inbox-subtabs">
                <div class="inbox-search">
                    <span class="search-icon">
                        <svg viewBox="0 0 410.23 410.23" class="icon">
                            <use xlink:href="#search"></use>
                        </svg>
                    </span>
                    <input type="text" placeholder="Search" id="search" name="search" />
                </div>
                <div class="inbox-menu">
                    <ul>
                        <li class="anchor-tag active">All</li>
                        <li class="anchor-tag">Unread</li>
                        <li class="anchor-tag">INTERVIEWS ONLY</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="inbox-body">
        <div class="inbox-list">
            <ul>
                <li>
                   <div class="inbox-list-main">
                       <div class="inb-usr">
                           <span><img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt=""></span>
                       </div>
                       <div class="inb-usr-detail">
                            <h3>David M. Bailey</h3>
                            <p>Sales report from 01/02 to 01/04</p>
                            <span class="msg-date">24 Apr</span>
                       </div>
                   </div> 
                </li>
                <li>
                    <div class="inbox-list-main">
                        <div class="inb-usr">
                            <span><img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt=""></span>
                        </div>
                        <div class="inb-usr-detail">
                             <h3>Prakhar Maheshwari</h3>
                             <p>Sales report from 01/02 to 01/04</p>
                             <span class="msg-date">24 Apr</span>
                        </div>
                    </div> 
                 </li>
                 <li class="active">
                    <div class="inbox-list-main">
                        <div class="inb-usr">
                            <span><img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt=""></span>
                        </div>
                        <div class="inb-usr-detail">
                             <h3>David M. Bailey</h3>
                             <p>Sales report from 01/02 to 01/04</p>
                             <span class="msg-date">24 Apr</span>
                        </div>
                    </div> 
                 </li>
                 <li>
                    <div class="inbox-list-main">
                        <div class="inb-usr">
                            <span><img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt=""></span>
                        </div>
                        <div class="inb-usr-detail">
                             <h3>Prakhar Maheshwari</h3>
                             <p>Sales report from 01/02 to 01/04</p>
                             <span class="msg-date">24 Apr</span>
                        </div>
                    </div> 
                 </li>
                 <li>
                    <div class="inbox-list-main">
                        <div class="inb-usr">
                            <span><img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt=""></span>
                        </div>
                        <div class="inb-usr-detail">
                             <h3>Prakhar Maheshwari</h3>
                             <p>Sales report from 01/02 to 01/04</p>
                             <span class="msg-date">24 Apr</span>
                        </div>
                    </div> 
                 </li>
            </ul>
        </div>
        <div class="inbox-detail">
            <div class="usr-inbox-detail">
                <h3>Create AdWords campaign</h3>
                <ul class="inbox-events">
                    <li>
                        <span class="anchor-tag" title="Delete">
                            <svg viewBox="0 0 753.23 753.23" class="icon">
                                <use xlink:href="#bin"></use>
                            </svg>
                        </span>
                    </li>
                    <li>
                        <span class="anchor-tag" title="Mark as unread">
                            <svg class="icon" viewBox="0 0 900 900">
                                <use xlink:href="#inbox"></use>
                              </svg>
                        </span>
                    </li>
                    <li>
                        <span class="anchor-tag" title="Reply">
                            <svg viewBox="0 0 753.23 753.23" class="icon">
                                <use xlink:href="#bin"></use>
                            </svg>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="usr-inbox-trail">

            </div>
            <div class="usr-inbox-ftr">

            </div>
        </div>
    </div>
</div>