<div class="relogin-main">
    <h3>Re-enter your password to continue</h3>
    <form action="">
        <div class="relogin-form">
            <div class="form-group">
                <input type="text" class="custom-input" placeholder="E-mail">
                <div class="relogin-form-link text-right">
                    <span class="anchor-tag">Not you?</span>
                </div>
            </div>
            <div class="form-group">
                <input type="password" class="custom-input" placeholder="Password">
                <div class="relogin-form-link text-right">
                    <span class="anchor-tag ">Forgot Password?</span>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-green">Sign Up</button>
            </div>
        </div>
    </form>
</div>