<section class="breadrumb-block">
    <div class="container">
        <h1>All Active Queries</h1>
    </div>
</section>
<section class="all-query-list">
    <div class="container">
        <div class="hq-list">
            <ul>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dash-query-list">
                        <h3 [routerLink]="['/query-detail']">Looking for an expert to understand the Automobile market in South Africa</h3>
                        <div class="dash-query-box">
                            <div class="dq-ftr">
                                <div class="dq-dated">
                                    <svg class="icon" viewBox="0 0 512 512">
                                        <use xlink:href="#calendar"></use>
                                    </svg>
                                    Mar, 05
                                </div>
                                <div class="dq-atg">
                                    <span class="theme-btn-primary">Refer someone</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>