    <div class="sidebar-main">
        <ul>
            <li class="anchor-tag" [routerLink]="['/dashboard/user-dashboard']" routerLinkActive="active">
                <svg class="icon" viewBox="0 0 900 900" >
                    <use xlink:href="#home"></use>
                  </svg>
                <h5>Dashboard</h5>
            </li>
            <li class="anchor-tag" [routerLink]="['/inbox/user-inbox']" routerLinkActive="active">
                <svg class="icon" viewBox="0 0 900 900">
                    <use xlink:href="#inbox"></use>
                  </svg>
                <h5>Inbox</h5>
            </li>   
            <li class="anchor-tag">
                <svg class="icon" viewBox="0 0 900 900">
                    <use xlink:href="#calls"></use>
                  </svg>
                <h5>Calls</h5>
            </li>
            <li class="anchor-tag" [routerLink]="['/experts/expert-user']" routerLinkActive="active">
                <svg class="icon" viewBox="0 0 900 900" >
                    <use xlink:href="#expert"></use>
                  </svg>
                <h5>find expert</h5>
            </li>
            <li class="anchor-tag" [routerLink]="['/user-profile/profile']" routerLinkActive="active">
                <svg class="icon" viewBox="0 0 900 900">
                    <use xlink:href="#setting"></use>
                  </svg>
                <h5>Setting & Profile</h5>
            </li>
        </ul>
    </div>