    <div class="sidebar-main">
        <ul>
            <li class="anchor-tag active">
                <svg viewBox="0 0 128 128" class="icon">
                    <use xlink:href="#user-avatar"></use>
                </svg>
                <h5>Dashboard</h5>
            </li>
            <li class="anchor-tag">
                <svg viewBox="0 0 128 128" class="icon">
                    <use xlink:href="#user-avatar"></use>
                </svg>
                <h5>Inbox</h5>
            </li>   
            <li class="anchor-tag">
                <svg viewBox="0 0 128 128" class="icon">
                    <use xlink:href="#user-avatar"></use>
                </svg>
                <h5>Calls</h5>
            </li>
            <li class="anchor-tag">
                <svg viewBox="0 0 128 128" class="icon">
                    <use xlink:href="#user-avatar"></use>
                </svg>
                <h5>Dashboard</h5>
            </li>
            <li class="anchor-tag">
                <svg viewBox="0 0 128 128" class="icon">
                    <use xlink:href="#user-avatar"></use>
                </svg>
                <h5>Setting & Profile</h5>
            </li>
        </ul>
    </div>