<nav class="navbar navbar-expand-lg navbar-dark bg-primary-gradient" fxLayout="row" fxFlex="100">
  <div class="navbar-inner" fxLayout="row" fxFlex="100" fxLayoutAlign="stretch center">
    <!-- <a class="navbar-brand" href="/"><img src="./../../../assets/images/logo/OptiProERP-white.png" title="OptiPro-ERP" /></a> -->
    <button class="navbar-toggle-btn" type="button" (click)="sidebarToggle()" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <svg viewBox="0 -96 512 512" class="icon menu-icon">
          <use xlink:href="#menu"></use>
      </svg>
      <svg viewBox="0 0 475 475" class="icon menu-icon-mobile">
          <use xlink:href="#close"></use>
      </svg>
    </button>
  </div>      
</nav>