<div class="header-nav">
  <nav class="ce-navigation">
      <div class="ce-nav-logo">
          <span class="anchor-tag"><img src="assets/images/home/login-logo.png" alt=""></span>
      </div>
      <!-- <div class="ce-nav-right">
          <div class="ce-nav-search">
              <div class="ce-nav-search-group">
                  <span>
                      <svg viewBox="0 0 410.23 410.23" class="icon">
                          <use xlink:href="#search"></use>
                      </svg>
                  </span>
                  <input type="text" placeholder="Search">
              </div>
          </div>
          <div class="ce-nav-notify">
              <span class="ce-nav-notify-count">10</span>
              <svg class="icon" viewBox="0 0 95 91" >
                <use xlink:href="#notification"></use>
              </svg>
          </div>
          <div class="ce-nav-login-user">
              <span class="usr-profile-pic"><img src="https://www.helloproject.in/extra-images/profile-img-01.jpg" alt=""></span>
              David M. Bailey
          </div>
      </div> -->
  </nav>
</div>