<div class="profile-setting-main">
    <div class="profile-setting-head">
        <h3>Setting & Profile</h3>
        <div class="pro-set-tabs">
            <ul>
                <li class="active">
                    <span class="anchor-tag">Update My Schedule</span>
                </li>
                <li>
                    <span class="anchor-tag">Update My Profile</span>
                </li>
                <li>
                    <span class="anchor-tag">Topics & Notifications</span>
                </li>
                <li>
                    <span class="anchor-tag">Payment Related</span>
                </li>
                <li>
                    <span class="anchor-tag">Transactions</span>
                </li>
                <li>
                    <span class="anchor-tag">Other Preferences</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-setting-body">
        <!-- <div class="proset-schedule">
            <mwl-calendar-month-view
            [viewDate]="viewDate"
            [events]="events">
            </mwl-calendar-month-view>
        </div> -->
        <!-- proset-schedule -->
        <div class="proset-profile">
            <div class="usr-profile-details">
                <div class="usr-pro-left">
                    <div class="usr-pro-img">
                        <img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg" alt="">
                    </div>
                    <div class="add-edit-proile">
                        <input type="file" name="" id="">
                        <span>Add/Edit Profile Picture</span>
                    </div>
                    <div class="usr-profile-hide">
                        <div class="style-check">
                            <input type="checkbox" id="hideName" name="hideName" />
                            <span for="hideName">Hide my name</span>
                        </div>
                        <div class="style-check">
                            <input type="checkbox" id="hidePic" name="hidePic" />
                            <span for="hideName">Hide my profile picture</span>
                        </div>
                    </div>
                    <div class="usr-profile-action">
                        <span class="anchor-tag delete-acc-btn">Delete My Account</span>
                    </div>
                </div>
                <div class="usr-pro-right">
                    <h3>General Info</h3>
                    <div class="usr-pro-form">
                        <form action="" method="">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Full Name</label>
                                        <input type="text" class="custom-form-control" placeholder="Full Name" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">User Name/Display Name</label>
                                        <input type="text" class="custom-form-control" placeholder="User Name/Display Name" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <div class="psw-group">
                                            <input type="password" class="custom-form-control" placeholder="Password" />
                                            <span>Show password</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Email</label>
                                        <input type="text" class="custom-form-control" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Hourly Rate ($)</label>
                                        <input type="text" class="custom-form-control" placeholder="Hourly Rate ($)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="">Country</label>
                                                <input type="text" class="custom-form-control" placeholder="Country" />
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="form-group">
                                                <label for="">Phone Number</label>
                                                <input type="text" class="custom-form-control" placeholder="Phone Number" />
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-sm-12">
                                    <div class="if-other-pro form-group">
                                        Your Profile <span>(you can use either your linkedin profile or official email address)</span>
                                    </div>
                                </div>  
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Linkedin Profile URL</label>
                                        <div class="import-group">
                                            <input type="text" class="custom-form-control" placeholder="Linkedin Profile URL" />
                                            <span class="anchor-tag">Import Profile</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Your official email ID</label>
                                        <input type="text" class="custom-form-control" placeholder="Your official email ID" />
                                    </div>
                                </div>  
                                <div class="col-sm-12">
                                    <div class="form-group text-right">
                                        <button class="btn btn-save">SAVE AND NEXT</button>
                                    </div>
                                </div>                             
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- proset-profile -->
        <div class="proset-topics">

        </div><!-- proset-topics -->
        <div class="proset-payment">

        </div><!-- proset-payment -->
        <div class="proset-transaction">

        </div><!-- proset-transaction -->
        <div class="proset-preferences">

        </div><!-- proset-preferences -->
    </div>
</div>