<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="ftr-block">
          <div class="ftr-site-info">
            <img src="../../../assets/images/home/login-logo.png" alt="">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. </p>
            <div class="ftr-social">
              <span>
                <svg class="icon" viewBox="0 0 24 24">
                  <use xlink:href="#facebook"></use>
                </svg>
              </span>
              <span>
                <svg class="icon" viewBox="0 0 97.75 97.75">
                  <use xlink:href="#pinterest"></use>
                </svg>
              </span>
              <span>
                <svg class="icon" viewBox="0 0 512 512">
                  <use xlink:href="#twitter"></use>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ftr-block">
          <ul>
            <li><span>ABOUT</span></li>
            <li><span>CONTACT US</span></li>
            <li><span>FAQ’S FOR CLIENT</span></li>
            <li><span>FAQ’S FOR EXPERT</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ftr-block">
          <ul>
            <li><span>PRIVACY POLICY</span></li>
            <li><span>LEGAL & COMPLIANCE</span></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="ftr-block">
          <div class="ftr-newsletter">
            <h3>Newsletter Signup</h3>
            <p>Sign up for our e-mail and be the first who know our special offers! </p>
            <form action="">
              <input type="text" placeholder="Your email address" />
              <button class="theme-btn-secondary">subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-btm">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="copyright">
          © 2020 ChatXpert.com. ALL RIGHTS RESERVED.
        </div>        
      </div>
      <div class="col-sm-6 text-right">
        <div class="methods">
          <img src="../../../assets/images/pay-methods.png" alt="chatXpert">
        </div>
      </div>
    </div>

  </div>  
</div>