<div class="modalview">
    <div class="modal-left-panel">
        <div class="modal-left-panel-content">
            <h2>TIMELY EXPERT ADVICE</h2>
            <h4>anytime, anywhere</h4>
        </div>
    </div>
    <div class="modal-right-panel">
        <div class="modal-right-panel-content">
            <div class="modal-logo">
                <img src="assets/images/home/login-logo.png" alt="chatXpert">
            </div>
            <div class="modal-form">
                <form action="">
                    <div class="form-group">
                       <input type="text" placeholder="E-mail" class="custom-input">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Password" class="custom-input">
                    </div>
                    <div class="login-check-link form-group">
                        <div class="login-check">
                            <label for="">
                                <input type="checkbox"><span>Remember me</span>
                            </label>
                        </div>
                        <div class="login-rem-me">
                            <a href="javascript:void(0);">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-green">Sign In</button>
                    </div>
                    <div class="form-group">
                        <div class="login-option">Or</div>
                    </div>
                    <div class="form-group">
                        <div class="linkeding-option">
                            <a href="javascript:void(0);">
                                <svg class="icon">
                                    <use xlink:href="#linkedinIcon"></use>
                                </svg>
                                Sign in with Linkedin</a>
                        </div>
                    </div>
                    <div class="if-no-account">
                        Don’t have an account? <a href="javascript:void(0)">Signup Now</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>