<div class="expert-profile-main">
    <div class="ep-head">
        <div class="ep-head-img">
            <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="">
        </div>
        <div class="ep-head-main">
            <div class="ep-head-top">
                <div class="eph-left">
                    <div class="eph-username">
                        <h3>Sonika Maheshwari <span><ngb-rating [(rate)]="currentRate"  [max]="5"></ngb-rating></span></h3>
                        <p>Finance Administrator</p>
                    </div>
                    <div class="eph-costing">
                        <span>$50</span><br />Per hour
                    </div>
                </div>
                <div class="eph-right">
                    <span class="theme-btn-tursary">Message</span>
                    <span class="theme-btn-primary">Schedule a call</span>
                </div>
            </div>
            <div class="ep-head-bottom">
                <div class="eph-tags">
                    <span class="anchor-tag">Enterpreurship</span>
                    <span class="anchor-tag">Scrum Master</span>
                    <span class="anchor-tag">Lean Startup</span>
                    <span class="anchor-tag">Business Development</span>
                    <span class="anchor-tag">Growth Hacking</span>
                </div>
                <div class="eph-content">
                    <p>A seasoned IT professional with 5+ years of rich & versatile experience in User Experience Design, Product Management, Team Building and Leading Projects to delivery that result in Customer Delight. A seasoned IT professional with 5+ years of rich & versatile experience in User Experience Design, Product Management</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ep-body">
        <div class="ep-body-left ep-body-panel">
            <ul>
                <li class="active">Experience</li>
                <li>RATINGS & FEEDBACK</li>
                <li>FUNCTIONAL EXPERTIES</li>
                <li>SPECIALITIES</li>
                <li>ACCOMPLISHMENTS</li>
                <li>EDUCATION</li>
            </ul>
        </div>
        <div class="ep-body-right">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ep-body-panel">
                        <h3>Experience</h3>
                        <div class="ep-exp-main">
                            <div class="exp-time-line"></div>
                            <div class="ept-view-box">
                                <div class="ept-dot ept-gray"></div>
                                <div class="ept-content">
                                    <div class="eptl-content">
                                        <h4>Chief Design Officer</h4>
                                        <p>Diaspark Inc</p>
                                    </div>
                                    <div class="eptr-content">
                                        <h4>May 2018 - Present </h4>
                                        <h5>2 yrs   2 mos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="ept-view-box">
                                <div class="ept-dot ept-green"></div>
                                <div class="ept-content">
                                    <div class="eptl-content">
                                        <h4>Chief Design Officer</h4>
                                        <p>Diaspark Inc</p>
                                    </div>
                                    <div class="eptr-content">
                                        <h4>May 2018 - Present </h4>
                                        <h5>2 yrs   2 mos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="ept-view-box">
                                <div class="ept-dot ept-green"></div>
                                <div class="ept-content">
                                    <div class="eptl-content">
                                        <h4>Chief Design Officer</h4>
                                        <p>Diaspark Inc</p>
                                    </div>
                                    <div class="eptr-content">
                                        <h4>May 2018 - Present </h4>
                                        <h5>2 yrs   2 mos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="ept-view-box">
                                <div class="ept-dot ept-green"></div>
                                <div class="ept-content">
                                    <div class="eptl-content">
                                        <h4>Chief Design Officer</h4>
                                        <p>Diaspark Inc</p>
                                    </div>
                                    <div class="eptr-content">
                                        <h4>May 2018 - Present </h4>
                                        <h5>2 yrs   2 mos</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ep-body-panel">
                        <h3>Rating & Feedback</h3>
                        <div class="ep-feedback-main">
                            <div class="ep-fdb-list">
                                <h4>Sonika is truly one of the smartest professionals I have ever met. The passion reflects in his designs, interactions, communication and any assignment that he takes up.</h4>
                                <div class="ep-fdb-ftr">
                                    <div class="stars">
                                        <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                    </div>
                                    <div class="ep-fbd-by">
                                        <div class="ep-fbd-by-img">
                                            <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="">
                                        </div>
                                        <div class="ep-fbd-by-content">
                                            <h3>Chandra Prakash Mishra</h3>
                                            <p>Business Development Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ep-fdb-list">
                                <h4>Sonika is truly one of the smartest professionals I have ever met. The passion reflects in his designs, interactions, communication and any assignment that he takes up.</h4>
                                <div class="ep-fdb-ftr">
                                    <div class="stars">
                                        <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                    </div>
                                    <div class="ep-fbd-by">
                                        <div class="ep-fbd-by-img">
                                            <img src="https://widgetwhats.com/app/uploads/2019/11/free-profile-photo-whatsapp-4.png" alt="">
                                        </div>
                                        <div class="ep-fbd-by-content">
                                            <h3>Chandra Prakash Mishra</h3>
                                            <p>Business Development Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ep-fdb-list">
                                <h4>Sonika is truly one of the smartest professionals I have ever met. The passion reflects in his designs, interactions, communication and any assignment that he takes up.</h4>
                                <div class="ep-fdb-ftr">
                                    <div class="stars">
                                        <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                    </div>
                                    <div class="ep-fbd-by">
                                        <div class="ep-fbd-by-img">
                                            <img src="" alt="">
                                        </div>
                                        <div class="ep-fbd-by-content">
                                            <h3>Chandra Prakash Mishra</h3>
                                            <p>Business Development Manager</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ep-body-panel">
                        <h3>Functional Experties</h3>
                        <ul class="ep-body-listing">                            
                            <li>Marketing </li>
                            <li>Product Defination</li>
                            <li>Business Development</li>
                            <li>Systems Design</li>
                            <li>Business Analysis</li>
                            <li>Product Managemen</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="ep-body-panel">
                        <h3>Specialities</h3>
                        <ul class="ep-body-listing">                            
                            <li>Wireless Base Stations</li>
                            <li>NOR Flash Memories</li>
                            <li>Storage Devices</li>
                            <li>Network Processors</li>
                            <li>Switch Fabric</li>
                            <li>Network Processors</li>
                            <li>MAC & Physical Layer Devices</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ep-body-panel">
                        <h3>Accomplishments</h3>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="ep-body-panel">
                        <h3>Education</h3>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                        <div class="ep-body-blogs">
                            <h3>Getting Started With Google Analytics 360 Certificate of Completion</h3>
                            <h6>Mar 2020  -  The Launch Group</h6>
                            <p>descriptionAwarded for successfully completing the course Level 2 NVQ in Customer Service.</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>