<div class="profile-setting-main">
    <div class="profile-setting-head pb-3">
        <h3>Track Query</h3>
    </div>
    <div class="profile-setting-body p-0">
        <div class="track-query-main">
            <div class="trackq-left-panel">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="track-query-view">
                            <h5>Date of posted</h5>
                            <p>22 May, 2020</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="track-query-view">
                            <h5>Subject</h5>
                            <p>Looking for an expert to understand the Automobile market in South Africa</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="track-query-view">
                            <h5>Requirement</h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                                more-or-less normal…</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="track-query-view">
                            <h5>Sector / Sub Sector</h5>
                            <p>Banking and Finance</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="track-query-view">
                            <h5>No. of Experts required</h5>
                            <p>2</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="track-query-view">
                            <h5>No. of hours required</h5>
                            <p>5</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="track-query-action text-right">
                            <button class="theme-btn-primary">Edit Query</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trackq-right-panel">
                <div class="swith-view-btn">
                    <span class="anchor-tag">Switch to expert view</span>
                </div>
                <div class="timeline-main">
                    <div class="timeline-line"></div>
                    <div class="timeline-content">
                        <div class="timeline-failure timeline-status"></div>
                        <div class="timeline-content-view">
                            <p>22 May, 2020</p>
                            <h4>Yet to complete</h4>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-failure timeline-status"></div>
                        <div class="timeline-content-view">
                            <button class="theme-btn-primary">Schedule a Call</button>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-success timeline-status"></div>
                        <div class="timeline-content-view">
                            <p>22 May, 2020</p>
                            <h4>ChatXpert has sourced below Experts</h4>
                            <div class="timeline-experts">
                                <div class="timeline-experts-view">
                                    <div class="call-head">
                                        <div class="call-user-info">
                                            <div class="call-user-img">
                                                <span><img
                                                        src="https://writestylesonline.com/wp-content/uploads/2019/01/What-To-Wear-For-Your-Professional-Profile-Picture-or-Headshot.jpg"
                                                        alt=""></span>
                                            </div>
                                            <div class="call-user-name">
                                                <h3>John Doe</h3>
                                                <p>Finance Administrator</p>
                                                <div class="user-rating">
                                                    <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="call-rates">
                                            <label>$50</label>
                                            <span>Per hour</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-experts-view">
                                    <div class="call-head">
                                        <div class="call-user-info">
                                            <div class="call-user-img">
                                                <span><img
                                                        src="https://writestylesonline.com/wp-content/uploads/2019/01/What-To-Wear-For-Your-Professional-Profile-Picture-or-Headshot.jpg"
                                                        alt=""></span>
                                            </div>
                                            <div class="call-user-name">
                                                <h3>John Doe</h3>
                                                <p>Finance Administrator</p>
                                                <div class="user-rating">
                                                    <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="call-rates">
                                            <label>$50</label>
                                            <span>Per hour</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-experts-view">
                                    <div class="call-head">
                                        <div class="call-user-info">
                                            <div class="call-user-img">
                                                <span><img
                                                        src="https://writestylesonline.com/wp-content/uploads/2019/01/What-To-Wear-For-Your-Professional-Profile-Picture-or-Headshot.jpg"
                                                        alt=""></span>
                                            </div>
                                            <div class="call-user-name">
                                                <h3>John Doe</h3>
                                                <p>Finance Administrator</p>
                                                <div class="user-rating">
                                                    <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="call-rates">
                                            <label>$50</label>
                                            <span>Per hour</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-experts-view">
                                    <div class="add-expert-view">
                                        <span class="anchor-tag theme-btn-primary">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-success timeline-status"></div>
                        <div class="timeline-content-view">
                            <p>22 May, 2020</p>
                            <h4>Query Posted</h4>
                        </div>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-success timeline-status"></div>
                        <div class="timeline-content-view">
                            <p>24 May, 2020</p>
                            <h4>Call Completed</h4>
                            <div class="call-completed-between">
                                <div class="call-user">
                                    <div class="call-usr-img">
                                        <img src="https://writestylesonline.com/wp-content/uploads/2016/08/Follow-These-Steps-for-a-Flawless-Professional-Profile-Picture-1024x1024.jpg"
                                            alt="">
                                    </div>
                                    <div class="call-usr-info">
                                        <h3>Chandra Prakash Mishra</h3>
                                        <button class="theme-btn-primary">Rate and Acknowledge</button>
                                    </div>
                                </div>
                                <div class="call-user">
                                    <div class="call-usr-img">
                                        <img src="https://writestylesonline.com/wp-content/uploads/2016/08/Follow-These-Steps-for-a-Flawless-Professional-Profile-Picture-1024x1024.jpg"
                                            alt="">
                                    </div>
                                    <div class="call-usr-info">
                                        <h3>Chandra Prakash Mishra</h3>
                                        <button class="theme-btn-primary">Rate and Acknowledge</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="timeline-content">
                        <div class="timeline-success timeline-status"></div>
                        <div class="timeline-content-view">
                            <p>24 May, 2020</p>
                            <h4>Call Scheduled</h4>
                            <div class="call-completed-between">
                                <div class="call-user">
                                    <div class="call-usr-img">
                                        <img src="https://writestylesonline.com/wp-content/uploads/2016/08/Follow-These-Steps-for-a-Flawless-Professional-Profile-Picture-1024x1024.jpg"
                                            alt="">
                                    </div>
                                    <div class="call-usr-info">
                                        <h3>Chandra Prakash Mishra</h3>
                                        <div class="call-timing">
                                            <div class="call-timing-block">
                                                <span>
                                                    <svg class="icon" viewBox="0 0 900 900">
                                                        <use xlink:href="#calls"></use>
                                                    </svg>
                                                </span>
                                                24 May,2020 | 2.30 PM IST
                                            </div>
                                            <span>
                                                <svg class="icon" viewBox="0 0 91.555 91.56">
                                                    <use xlink:href="#pen"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="call-user">
                                    <div class="call-usr-img">
                                        <img src="https://writestylesonline.com/wp-content/uploads/2016/08/Follow-These-Steps-for-a-Flawless-Professional-Profile-Picture-1024x1024.jpg"
                                            alt="">
                                    </div>
                                    <div class="call-usr-info">
                                        <h3>Chandra Prakash Mishra</h3>
                                        <div class="call-timing">
                                            <div class="call-timing-block">
                                                <span>
                                                    <svg class="icon" viewBox="0 0 900 900">
                                                        <use xlink:href="#calls"></use>
                                                    </svg>
                                                </span>
                                                24 May,2020 | 2.30 PM IST
                                            </div>
                                            <span>
                                                <svg class="icon" viewBox="0 0 91.555 91.56">
                                                    <use xlink:href="#pen"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>