

<ng-template #openLogin let-modal>
    <div class="close">
        <a href="javascript:void(0);" (click)="modal.close()">
            <svg viewBox="0 0 475 475" class="icon">
                <use xlink:href="#close"></use>
            </svg>
        </a>
    </div>

    <div class="modalview"  *ngIf="(modalViewType == 'login')">
        <div class="modal-left-panel">
            <div class="modal-left-panel-content">
                <h2>TIMELY EXPERT ADVICE</h2>
                <span>
                    <svg class="icon" viewBox="0 0 324 40">
                        <use xlink:href="#anytime-text"></use>
                    </svg>
                </span>
            </div>
        </div>
        <div class="modal-right-panel">
            <div class="modal-right-panel-content">
                <div class="modal-logo">
                    <img src="assets/images/home/login-logo.png" alt="chatXpert">
                </div>
                <div class="modal-form">
                    <!-- Login Modal -->
                    <div class="modal-form">
                        <form action="" #signinform="ngForm">
                            <div class="form-group">
                               <input type="text" name="E-mail" id="E-mail" placeholder="E-mail" class="custom-form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="userName" #email="ngModel">
                               <div *ngIf="email.invalid && (email.dirty || email.touched || signinform.submitted)"
                                    class="text-error text-left">
                                    <div *ngIf="email.errors.required">Email is required</div>
                                    <div *ngIf="email.hasError('pattern')">This value should be a valid email.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" name="Password" id="Password" class="custom-form-control" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]*" required
                                [(ngModel)]="password" #passwordValue="ngModel">
                                <div *ngIf="passwordValue.invalid && (passwordValue.dirty || passwordValue.touched || signinform.submitted)"
                                    class="text-error text-left">
                                    <div *ngIf="passwordValue.errors.required">Password is required</div>
                                    <div *ngIf="passwordValue.hasError('pattern')">Please enter valid Password.</div>
                                </div>
                            </div>
                            <div class="login-check-link form-group">
                                <div class="login-check">
                                    <label for="">
                                        <input type="checkbox"><span>Remember me</span>
                                    </label>
                                </div>
                                <div class="login-rem-me">
                                    <span class="anchor-tag">Forgot Password?</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-green" [disabled]="!signinform.form.valid" (click)="SignInUser()">Sign In</button>
                            </div>
                            <div class="form-group">
                                <div class="login-option">Or</div>
                            </div>
                            <div class="form-group">
                                <div class="linkeding-option">
                                    <span class="anchor-tag signin-linkeding">
                                        <svg class="icon" viewBox="0 0 900 900">
                                            <use xlink:href="#linkedinIcon"></use>
                                        </svg>
                                        Sign in with Linkedin</span>
                                </div>
                            </div>
                            <div class="if-no-account">
                                Don’t have an account? <span class="anchor-tag" (click)="modalViewToggle('signup')">Signup Now</span>
                            </div>
                        </form>
                    </div>
                    <!-- End Login Modal -->
                </div>
            </div>
    
        </div>
    </div>

    <div class="signup-modal" *ngIf="(modalViewType == 'signup')">
        <div class="signup-head">
            <h3>TIMELY EXPERT ADVICE</h3>
            <span>
                <svg class="icon" viewBox="0 0 324 40">
                    <use xlink:href="#anytime-text"></use>
                </svg>
            </span>
        </div>
        <div class="signup-body">
            <form action="" #signupform="ngForm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <h4>I am</h4>
                            <div class="theme-radio-inline">
                                <div class="style-check">                                      
                                    <input type="checkbox" id="ifExp" name="iam">
                                    <span for="ifExp">An Expert</span>
                                    <div class="signup-tooltip">
                                        Can provide expert advice on certain subjects)
                                    </div>
                                </div>
                                <div class="style-check">                                        
                                    <input type="checkbox" id="ifIndCL" name="iam" [(ngModel)]="showCliField">
                                    <span for="ifIndCL">An Individual Client</span>
                                    <div class="signup-tooltip">
                                        Can provide expert advice on certain subjects)
                                    </div>
                                </div>
                                <div class="style-check">                                        
                                    <input type="checkbox" id="ifCliOrg" name="ifCliOrg" [(ngModel)]="showOrgField">
                                    <span for="ifCliOrg">Client as an Organisation</span>
                                    <div class="signup-tooltip">
                                        Can provide expert advice on certain subjects
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Full Name</label>
                            <input type="text" name="FullName" id="FullName" placeholder="Full Name" class="custom-form-control"
                                pattern="[a-zA-Z ]*" required [(ngModel)]="signupUserDetails.FullName" #fullname="ngModel">
                            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched || signupform.submitted)"
                                class="text-error text-left">
                                <div *ngIf="fullname.errors.required">Full Name is required</div>
                                <div *ngIf="fullname.hasError('pattern')">Please enter only alphabets</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">User Name</label>
                            <input type="text" name="UserName" id="UserName" placeholder="User Name" class="custom-form-control"
                                pattern="[a-zA-Z ]*" required [(ngModel)]="signupUserDetails.UserName" #username="ngModel">
                            <div *ngIf="username.invalid && (username.dirty || username.touched || signupform.submitted)"
                                class="text-error text-left">
                                <div *ngIf="username.errors.required">Last Name is required</div>
                                <div *ngIf="username.hasError('pattern')">Please enter only alphabets</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">E-mail</label>
                            <input type="text" placeholder="E-mail" name="E-Mail" id="E-Mail" class="custom-form-control"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="signupUserDetails.Email"
                                #email="ngModel">
                            <div *ngIf="email.invalid && (email.dirty || email.touched || signupform.submitted)"
                                class="text-error text-left">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.hasError('pattern')">This value should be a valid email.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" placeholder="Password" name="Password" id="signupPassword" class="custom-form-control"
                                pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d][A-Za-z\d!@#$%^&*()_+]*" required
                                [(ngModel)]="signupUserDetails.Password" #password="ngModel">
                            <div *ngIf="password.invalid && (password.dirty || password.touched || signupform.submitted)"
                                class="text-error text-left">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.hasError('pattern')">Please enter valid Password.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="showCliField">
                        <div class="form-group">
                            <label for="">Linkedin Profile URL</label>
                            <input type="text" placeholder="Linkedin Profile URL" name="Password" id="Password" class="custom-form-control">
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="showOrgField">
                        <div class="form-group">
                            <label for="">Work Address</label>
                            <input type="text" placeholder="Work Address" name="address" id="address" class="custom-form-control">
                        </div>
                    </div>
                    <div class="col-sm-6" *ngIf="showOrgField">
                        <div class="form-group">
                            <label for="">Work E-mail</label>
                            <input type="text" placeholder="Work E-mail" name="workEmail" id="workEmail" class="custom-form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label for="">Country Code</label>
                                    <input type="text" placeholder="Country" name="Country" id="Country" class="custom-form-control" required
                                        [(ngModel)]="signupUserDetails.Country" #country="ngModel">
                                    <div *ngIf="country.invalid && (country.dirty || country.touched || signupform.submitted)"
                                        class="text-error text-left">
                                        <div *ngIf="country.errors.required">Country is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <label for="">Phone Number</label>
                                    <input type="number" placeholder="Phone Number" name="PhoneNumber" id="PhoneNumber"
                                        class="custom-form-control" required [(ngModel)]="signupUserDetails.PhoneNumber"
                                        #phonenumber="ngModel">
                                    <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched || signupform.submitted)"
                                        class="text-error text-left">
                                        <div *ngIf="phonenumber.errors.required">Phone Number is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="style-check">
                            <input type="checkbox" id="hideName" name="agree" />
                            <span for="agree">Agreed to the <b class="anchor-tag">Terms</b> & <b class="anchor-tag">Privacy Policy</b></span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <button class="btn btn-green" [disabled]="!signupform.form.valid" (click)="signUpUser()">Sign
                                Up</button>
                        </div>
                        <div class="if-no-account">
                            Already have an account? <span class="anchor-tag" (click)="modalViewToggle('login')">Signin Now</span>
                        </div>
                    </div>
                </div>                
            </form>
        </div>
    </div>
</ng-template>