@import "./assets/scss/_style.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
//====================== login/signup modal ==================//
//====== Site variables =====//
%login-bg {
    background: #02c1fd;
    background: -moz-radial-gradient(center, ellipse cover, #02c1fd 0%, #0071b2 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #02c1fd 0%,#0071b2 100%);
    background: radial-gradient(ellipse at center, #02c1fd 0%,#0071b2 100%);
}
%update-btn-bg{
    background: #0071b2;
    background: -moz-linear-gradient(-45deg, #0071b2 0%, #02b8f5 100%);
    background: -webkit-linear-gradient(-45deg, #0071b2 0%,#02b8f5 100%);
    background: linear-gradient(135deg, #0071b2 0%,#02b8f5 100%);
}
%sidebar-bg{
  background: #0071b2;
  background: -moz-linear-gradient(-45deg, #0071b2 0%, #02b8f5 100%);
  background: -webkit-linear-gradient(-45deg, #0071b2 0%,#02b8f5 100%);
  background: linear-gradient(135deg, #0071b2 0%,#02b8f5 100%);
}
%green-gradint{
  background: #11c473;
  background: -moz-linear-gradient(-45deg, #11c473 0%, #0ed193 100%);
  background: -webkit-linear-gradient(-45deg, #11c473 0%,#0ed193 100%);
  background: linear-gradient(135deg, #11c473 0%,#0ed193 100%);
}
$green-color : #10C573;
$link-color : #0079B8;

$breakpoint-small-device : 380px;
$breakpoint-mobile : 767px;
$breakpoint-tablet : 1024px;

//========== ============//
body{
    font-family: 'Open Sans', sans-serif;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  z-index: 9;
  text-align: center;
  opacity: 0.5;
}
.lds-roller {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  transform: translateY(-50%);
  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      margin: -4px 0 0 -4px;
    }
    &:nth-child(1) {
      animation-delay: -0.036s;
      &:after {
        top: 63px;
        left: 63px;
      }
    }
    &:nth-child(2) {
      animation-delay: -0.072s;
      &:after {
        top: 68px;
        left: 56px;
      }
    }
    &:nth-child(3) {
      animation-delay: -0.108s;
      &:after {
        top: 71px;
        left: 48px;
      }
    }
    &:nth-child(4) {
      animation-delay: -0.144s;

      &:after {
        top: 72px;
        left: 40px;
      }
    }
    &:nth-child(5) {
      animation-delay: -0.18s;

      &:after {
        top: 71px;
        left: 32px;
      }
    }
    &:nth-child(6) {
      animation-delay: -0.216s;

      &:after {
        top: 68px;
        left: 24px;
      }
    }
    &:nth-child(7) {
      animation-delay: -0.252s;
      &:after {
        top: 63px;
        left: 17px;
      }
    }
    &:nth-child(8) {
      animation-delay: -0.288s;
      &:after {
        top: 56px;
        left: 12px;
      }
    }
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a,button{
    transition: $transition-base;
    outline:none;
}
.anchor-tag{
    cursor: pointer;
    transition: $transition-base;
    color: $link-color;
    &:focus{
      outline: none;
    }
}
.text-error {
  color: #f00;
  font-size: 11px;
}
.btn-gradient{
	@extend %update-btn-bg;
  color: $white;
  border: 0;
  outline: none;
}
.custom-form-control {
  width: 100%;
  border: 1px solid #CCCCCC;
  height: 40px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  color: #000;
  outline: none;
}
.content{
  padding: 30px 30px 30px 30px;
  @media(max-width : $breakpoint-mobile){
    display: block !important;
    padding: 15px;
  }
  .content-block {
    flex-basis: calc(100% - 180px);
    padding-left: 30px;
    margin: 0 auto;
    @media(max-width : $breakpoint-mobile){
      padding-left: 0;
    }
  }
}

.login-modal {
    .modal-dialog{
        @media(max-width : $breakpoint-tablet){
            max-width: 700px;
            margin: 0 auto;
        }
        @media(max-width : $breakpoint-mobile){
            max-width: 390px !important;
            margin: 30px auto;
        }
        @media(max-width : $breakpoint-small-device){
            max-width: 300px !important;            
        }
    }
    .modal-content {
        background: transparent;
        border: 0;
        position: relative;
        .close {
            text-align: right;
            position: absolute;
            top: -25px;
            right: 0;
        }
        .modalview {
            position: relative;
            display: flex;
            background-color: $white;
            @media(max-width : $breakpoint-mobile){
                display: block;
            }
            .modal-left-panel {
                display: flex;
                align-items: center;
                text-align: center;
                padding: 25px 40px;
                min-width: 460px;
                justify-content: center;
                color: $white;
                @extend %login-bg;
                @media(max-width : $breakpoint-mobile){
                    display: block;
                }
                @media(max-width : $breakpoint-tablet){
                    min-width: inherit;
                    padding: 25px;                    
                }
                h2{
                    font-size: 32px;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                    text-shadow: 0px 0px 1.72px rgba(0, 0, 0, 0.35);
                    @media(max-width : $breakpoint-mobile){
                        font-size: 22px;
                    }
                    @media(max-width : $breakpoint-tablet){
                        font-size: 28px;
                    }
                }
                span{
                    svg.icon{
                        width: 322px;
                        height: auto;
                        @media(max-width : $breakpoint-mobile){
                            width: 200px;
                            height: 45px;
                        }
                    }
                }
            }
            .modal-right-panel {
                padding: 32px 30px 20px;
                text-align: center;
                .modal-right-panel-content{
                    min-width: 280px;
                    @media(max-width : $breakpoint-mobile){
                        max-width: 300px;
                        margin : 0 auto;
                        min-width: inherit;
                    }
                }
                .modal-logo {
                    margin-bottom: 50px;
                }
                .modal-form {
                    .custom-input {
                        width: 100%;
                        border: 1px solid #CCCCCC;
                        height: 40px;
                        border-radius: 4px;
                        padding: 0 10px;
                        font-size: 14px;
                        color: #000;
                        outline: none;
                        @media(max-width : $breakpoint-mobile){
                            min-width: inherit;
                        }
                    }
                    .btn {
                        width: 100%;
                        background: $green-color;
                        color: $white;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        font-weight: 900;
                        font-size: 13px;
                        border-bottom: 2px;
                        padding: 10px;
                        &:hover{
                            background: $green;
                        }
                    }
                    .login-check-link {
                        display: flex;
                        justify-content: space-between;
                    }
                    span {
                        padding-left: 6px;
                        vertical-align: text-bottom;
                    }
                    label {
                        margin: 0;
                        color: $gray-600;
                        font-size: 13px;
                    }
                    .login-rem-me .anchor-tag {
                        font-size: 13px;
                        color: $link-color 2;
                    }
                    .login-option {
                        color: $gray-600;
                        font-size: 13px;
                        font-weight: 500;                        
                    }
                    .linkeding-option .signin-linkeding {
                        background: $link-color ;
                        color: $white;
                        padding: 10px 16px;
                        display: inline-block;
                        font-size: 13px;
                        font-weight: 800;
                        text-decoration: none;
                        border-radius: 2px;
                        &:hover{
                            background: $blue;
                        }
                        svg{
                            width: 22px;
                            height: 22px;
                            margin-right: 5px;
                        }
                    }
                    .if-no-account {
                        font-size: 13px;
                        color: $gray-600;
                        padding-top: 10px;;
                        .anchor-tag {
                            color: $link-color ;
                            font-weight: 800;
                            text-decoration: none;
                        }
                    }   
                    
                }
                
            }
        }
    }
    
}
//================== Signup Process ===============//
.header-nav {
    position: relative;  
    nav.ce-navigation {
      background: $white;
      box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      padding: 20px 25px;  
      .ce-nav-search .ce-nav-search-group {
        display: flex;
        position: relative;  
        input {
          border: 1px solid #CCCCCC;
          height: 40px;
          padding: 0 10px 0 34px;
          font-size: 14px;
          color: #888888;
          outline: none;
          border-radius: 4px;
        }  
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;  
          svg {
            fill: #999;
            width: 16px;
            height: 16px;
          }
        }
      }  
      .ce-nav-notify {
        svg {
          width: 20px;
          height: 20px;
          fill: #565682;
        }  
        position: relative;
        margin: 0 45px;
      }  
      .ce-nav-right {
        display: flex;
        align-items: center;
      }  
      .ce-nav-login-user {
        .usr-profile-pic {
          width: 36px;
          height: 36px;
          overflow: hidden;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #ccc;
          margin-right: 10px;  
          img {
            max-width: 100%;
            min-height: 36px;
          }
        }  
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #666666;
      }  
      .ce-nav-notify span.ce-nav-notify-count {
        position: absolute;
        top: -13px;
        right: -13px;
        width: 25px;
        height: 25px;
        display: inline-block;
        font-size: 11px;
        color: $white;
        background: #F38282;
        border-radius: 50%;
        text-align: center;
        line-height: 25px;
        font-weight: 700;
      }  
      .ce-nav-logo {
        img {
          max-width: 180px;
          height: auto;
        }  
        span {
          display: inline-block;
        }
      }
    }
  }
.signup-process-main {
    background: #fff;
    max-width: 910px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    padding: 40px 50px; 
    box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.1);
    @media(max-width : $breakpoint-tablet){
        max-width: 730px;
    }
    @media(max-width : $breakpoint-mobile){
        max-width: 90%;
        padding: 30px 20px; 
    }
    .process-steps-main {
      .step-view {
        position: relative;
        background: #E6F3F6;
        color: #000;
        padding: 8px 11px 8px 15px;
        font-size: 12px;
        display: inline-block;
        font-weight: 600;  
        @media(max-width : $breakpoint-mobile){
            text-align: center;
            line-height: 15px;
            padding: 10px !important;
            width: 33%;
          }
        &:nth-child(1) {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }  
        &:before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 0 20px 14px;
          position: absolute;
          right: -14px;
          top: 0;
          z-index: 2;
          @media(max-width : $breakpoint-mobile){
            display: none;
          }
        }  
        &:last-child {
          &:before {
            display: none;
          }  
          padding-left: 25px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }  
        &.step-done {
          &:before {
            border-color: transparent transparent transparent #11C473;
          }  
          background: #11C473;
          color: #fff;
        }  
        &.step-inprogress {
          &:before {
            border-color: transparent transparent transparent #006CAA;
          }  
          background: #006CAA;
          color: #fff;
        }  
        &:nth-child(2) {
          padding-left: 25px;
          padding-right: 20px;
        }
        span{
            width: 24px;
            height: 24px;
            background: rgba(0, 0, 0, 0.35);
            border-radius: 50%;;
            display: inline-block;
            text-align: center;
            line-height: 22px;
            margin-right: 5px;
            @media(max-width : $breakpoint-mobile){
                display: block;
                margin: 0 auto 5px auto;
              }
            svg.icon{
                width: 13px;
                fill: $white;
            }
        }
      }  
      display: flex;
      justify-content: center;
      margin-bottom: 52px;
    }  
    .process-step-info {
      text-align: center;  
      h4 {
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin-bottom: 15px;
      }  
      p {
        font-size: 12px;
        line-height: 17px;
      }  
      .process-msg {
        margin-top: 60px;
        font-size: 12px;
        font-weight: 500;
        color: #666666;  
        .anchor-tag {
          font-weight: 700;
        }
      }
      .otp-group {
        display: inline-block;
        border: 1px solid #E5EDEF;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        overflow: hidden;
            input {
                width: 40px;
                height: 50px;
                border-radius: 0;
                border-color: #E5EDEF;
                border-width: 0 0 0 1px;
                border-style: solid;
                outline: none;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                &:first-child {
                    border-left: 0;
                }
            }
        }
        .btn-update-profile{
            @extend %update-btn-bg;
            font-size: 13px;
            font-weight: 700;
            border: 0;
            color: $white;
            padding: 11px 30px;
            border-radius: 2px;
            letter-spacing: 1px;
            box-shadow: 0px 0px 15.68px 0.32px rgba(0, 113, 178, 0.4);
            &:hover{
                box-shadow: 0px 0px 20px 5px rgba(0, 113, 178, 0.6);
            }
        }
    }
  }
  //========== Sidebar ==========//
  .cx-aside {
    width: 180px;
    background: $white;
    box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.1);
    @media(max-width : $breakpoint-mobile){
      width: 100%;
      margin-bottom: 15px;
    }
    .sidebar-main{
      ul{
        list-style:none;
        margin:0;
        padding:0;
        @media(max-width : $breakpoint-mobile){
          display: flex;
          overflow-y: auto;
        }
        li{
          text-align: center;
          padding: 34px 10px;
          border-bottom: 1px solid #ECF5F7;
          color: #999;
          @media(max-width : $breakpoint-mobile){
            padding: 15px 20px;
            white-space: nowrap;
          }
          &:last-child{
            border-bottom: 0;
          }
          &:hover{
            @extend %sidebar-bg;
            color: $white;
            svg{
              fill: #fff;
            }
          }
          h5{
            margin-bottom:0;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media(max-width : $breakpoint-mobile){
              display: inline-block;
              margin-top: 0;
              margin-left: 10px;
            }
          }
          svg{
            fill: #999;
            width: 18px;
            @media(max-width : $breakpoint-mobile){	
              position: relative;
              top: -2px;          
            }
          }
        }
        .active{
          @extend %sidebar-bg;
          color: $white;
          svg{
            fill: #fff;
          }
        }
      }
    }
}
//Relogin Page
.relogin-main {
  background: #fff;
  max-width: 340px;
  margin: 0 auto;
  position: relative;
  padding: 35px 30px;
  box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.1);
  text-align: center;
  h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .relogin-form .custom-input {
    width: 100%;
    border: 1px solid #CCCCCC;
    height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    outline: none;    
  }
  button {
    background: $green-color;
    color: $white;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 13px;
    border-bottom: 2px;
    padding: 10px;
    &:hover{
      background: $green;
      color: $white;
    }
  }
}
// Profile Setting
.profile-setting-main{
  box-shadow: 0px 0px 11.76px 0.24px rgba(0, 0, 0, 0.1);
  background-color: $white;
  .profile-setting-head{
    padding: 15px 15px 0 15px;
    color: $white;
    box-shadow: 0px 0px 15.68px 0.32px rgba(17, 196, 115, 0.4);
    @extend %green-gradint;
    h3{
      margin: 0;
      font-size: 30px;
      font-weight: 300;
    }
    .pro-set-tabs {
      margin-top: 25px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        @media(max-width : $breakpoint-tablet){
          overflow-y: auto;
        }
        li {
          padding: 0 10px;
          span {
          font-size: 15px;
          color: #fff;
          font-weight: 300;
          display: inline-block;
          padding-bottom:12px;
          position: relative;
          @media(max-width : $breakpoint-tablet){
            white-space: nowrap;
          }
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;     
            width: 40px;
            height: 4px;
            @extend %sidebar-bg;     
            margin: 0 auto;
            display: none;
          }
        } 
      }
        li.active{          
          span{
            font-weight: 500;
            &:after{
              display: block;
            }
          }
        }
        li:hover span{
          &:after{
            display: block;
          }
        }
      }      
    }
  }
}
.profile-setting-body{
  padding: 30px 25px;
  @media(max-width : $breakpoint-mobile){
    padding: 15px;
  }
}
.usr-profile-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @media(max-width : $breakpoint-mobile){
    display: block;
  }
  .usr-pro-left {
    flex-basis: 260px;
    background: #F4F8F9;
    position: relative;
    border: 1px solid #DDE6E8;
    padding: 0 20px 20px;
    margin-top: 80px;
    text-align: center;
    @media(max-width : $breakpoint-mobile){
      margin-bottom: 30px;
    }
    .usr-pro-img {
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 50%;
      margin: -80px auto 0 auto;
      position: relative;
      border: 1px solid #f4f8f9;
      img {
        max-width: 100%;
        min-height: 120px;
      }
    }
    .add-edit-proile {
      position: relative;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      display: inline-block;
      margin-top: 18px;
      margin-bottom: 25px;
      span {
        @extend %update-btn-bg;
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        padding: 5px 10px;
        display: inline-block;
        margin: 0 auto;
        border-radius: 2px;
      }
      input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 9;
        height: 100%;
      }
    }
    .usr-profile-hide {
      text-align: left;
      .style-check {
        margin-bottom: 24px;
        position: relative;
        overflow: hidden;
        input {
          opacity: 0;
          position: absolute;
          left: 0;top: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
        }
        span {
          position: relative;
          padding-left: 24px;
          font-size: 13px;
          color: #333333;
          line-height: 16px;
          font-weight: 600;
          &:before{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border: 2px solid #979797;
            display: inline-block;
            left: 0;
            border-radius: 2px;
          }
          &:after{
            content: "";
            position: absolute;
            display: none;
            left: 0;
            top: 0;
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI3LjcwNCw4LjM5N2MtMC4zOTQtMC4zOTEtMS4wMzQtMC4zOTEtMS40MjgsMCAgTDExLjk4OCwyMi41OWwtNi4yODItNi4xOTNjLTAuMzk0LTAuMzkxLTEuMDM0LTAuMzkxLTEuNDI4LDBjLTAuMzk0LDAuMzkxLTAuMzk0LDEuMDI0LDAsMS40MTRsNi45OTksNi44OTkgIGMwLjM5LDAuMzg2LDEuMDM5LDAuMzg2LDEuNDI5LDBMMjcuNzA0LDkuODExQzI4LjA5OSw5LjQyMSwyOC4wOTksOC43ODcsMjcuNzA0LDguMzk3QzI3LjMxLDguMDA2LDI4LjA5OSw4Ljc4NywyNy43MDQsOC4zOTd6IiBmaWxsPSIjMTIxMzEzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJDaGVjayIvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjwvc3ZnPg==');
            width: 16px;
            height: 16px;
            border-radius: 2px;
            background-size: 13px;
            background-color: #10C576;
            background-repeat: no-repeat;
            background-position: center center;            
          }
        }
        input:checked + span:after {
          display: block;
        }
      }
    }
    .usr-profile-action {
      margin-top: 30px;
      .delete-acc-btn {
        background: #fff;
        color: #F00332;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px 20px;
        display: inline-block;
     }    
    }  
  }
  .usr-pro-right {
    flex-basis: calc(100% - 260px);
    padding-left: 30px;
    @media(max-width : $breakpoint-mobile){
      padding-left: 0;
    }
  }
}
.usr-profile-details .usr-pro-right {
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
  .usr-pro-form {
    label {
      font-size: 13px;
      color: #999999;
      display: block;
      margin-bottom: 3px;
    }
    .psw-group {
      position: relative;
      span {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        color: #0071B2;
        font-size: 11px;
        font-weight: 500;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
      }  
      .custom-form-control {
        padding-right: 100px;
      }    
    }
    .if-other-pro {
      font-size: 14px;
      color: #111111;
      span {
        font-size: 12px;
        color: #666666;
      }
    }
    .import-group {
      position: relative;
      span {
        position: absolute;
        right: 8px;
        top: 8px;
        background: #10C573;
        color: #fff;
        padding: 3px 15px;
        display: inline-block;
        border-radius: 4px;
        font-size: 12px;
      }
      .custom-form-control {
        padding-right: 125px;
      }
    }    
  }
  .btn-save{
    @extend %update-btn-bg;
    color: $white;
    border: 0;
  }
}
.notification-setting-main {
  display: flex;
  justify-content: space-between;
  @media(max-width : $breakpoint-mobile){
    display: block;
  }
  .notify-set-left {
    flex-basis: 45%;
    background: #F4F8F9;
    border: 1px solid #DDE6E8;
    padding: 15px 20px;
    @media(max-width : $breakpoint-mobile){
      margin-bottom: 30px;
    }
  }
  .notify-set-right {
    flex-basis: 55%;
    padding-left: 70px;
    @media(max-width : $breakpoint-mobile){
      padding-left: 0;
    }
  }
  .notify-set-left h3 {
    font-size: 14px;
    font-weight: 600;
  }
  .notify-set-right .nsetting-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .nsetting-title {
      flex-basis: 80%;
      color: #111111;
      font-size: 14px;
      font-weight: 400;
    }
    .notify-toggle {
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        cursor: pointer;
      }
      position: relative;
      margin: 6px 0px 0px;
      span {
        position: relative;
        width: 47px;
        height: 12px;
        background: #DDDDDD;
        display: inline-block;
        border-radius: 6px;
        &:before {
          content: "";
          width: 24px;
          height: 24px;
          background: #fff;
          position: absolute;
          top: -6px;
          border-radius: 50%;
          box-shadow: 0px 0px 15.68px 0.32px rgba(0, 0, 0, 0.2);
          transition: 0.3s  left;
        }
      }
      input:checked + span {
        &:before {
          right: 0;
          background: #11C473;
        }
        background: #E7EEF0;
      }
    }
  }
}
.payment-main {
  .block-title h3 {
    font-size: 14px;
    color: #111111;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .form-group {
    label {
      color: #999999;
      font-size: 13px;
      display: block;
    }    
  }
  .pay-card-info {
    padding: 20px 25px 10px 25px;
    border: 1px solid #CCCCCC;
    margin-bottom: 25px;
    border-radius: 6px;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  }
  .pay-billing-address {
    margin-bottom: 25px;
  }
  .pay-card-info .visa-card-info {
    position: relative;
    span {
      position: absolute;
      right: 10px;
      top: 7px;
      svg {
        width: 37px;
      }
    }
    input {
      padding-right: 60px;
    }
  }
  .pay-method {
    margin-bottom: 20px;
  }
  .pay-add-account {
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 20px 25px 10px 25px;
  }
  .pay-submit .btn-save {
    @extend %update-btn-bg;
    color: $white;
    border: 0;
    text-transform: uppercase;
   }
}
.transition-filter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
  @media(max-width : $breakpoint-mobile){
	  display: block;
  }
  .filter-left {
    display: flex;
    align-items: flex-end;
    @media(max-width : $breakpoint-mobile){
      display: block;
    }
    .inp-filter {
      padding-right: 15px;
      @media(max-width : $breakpoint-mobile){
        padding-right: 0;
        margin-bottom: 15px;;
      }
    }
    .inp-filter-btn .btn-go {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 0px 0px 15.68px 0.32px rgba(0, 113, 178, 0.4);
      @media(max-width : $breakpoint-mobile){
        margin-bottom: 15px;;
      }
    }
  }
  .filter-right { 
    display: flex;
    .filter-icon {
      svg {
        width: 20px;
        fill: #0071B2;
      }
      .anchor-tag {
        padding: 11px 20px;
        background: #fff;
        box-shadow: 0px 0px 15.68px 0.32px rgba(240, 3, 50, 0.1);
        display: inline-block;
        border-radius: 4px;
      }
    }
    .download-csv{
      margin-left: 15px;
      .btn-download{
        background: #10C573;
        border: 0;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 2px;
        padding: 10px 22px;
      }
    }
  }
}
.transition-data table {
  th {
    border: 0;
    color: #999999;
    font-weight: 600;
  }
  tbody tr:nth-child(2n+1) {
    background: #F4F8F9;
  }
  font-size: 13px;
  td, th {
    padding: 15px 10px;
  }
}
.chipset-theme {
  position: relative;
  margin-top: 20px;
  .ng2-tags-container {
    display: flex;
    tag-input-form {
      order: 1;
      width: 100%;
      margin-bottom: 25px;
    }
    tag {
      order: 2;
    }
    tag-input-form input {
      width: 100%;
      height: 44px;
      border-radius: 4px;
      border: 1px solid  #CCCCCC;
    }
  }
  .ng2-tag-input {
    border: 0 !important;
    padding: 0;
  }
  .ng2-tags-container tag {
    tag-ripple {
      background: transparent;
    }

    border: 1px solid #DDE6E8;
    overflow: hidden;
    background: #fff;
    div {
      line-height: 28px;
      font-size: 11px;
      color: #6D8389;
    }
    delete-icon {
      margin-left: 15px;
      width: auto;
      height: auto;
      position: relative;
      top: -1px;
      span svg {
        background: #F4F8F9;
        border: 1px solid #DDE6E8;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        padding: 3px;
      }
      &:hover {
        transform: none;
      }
    }
  }
}
.preference-block {
  border: 1px solid #DDDDDD;
  padding: 20px 25px;
  border-radius: 10px;
  margin-bottom: 30px;
  @media(max-width : $breakpoint-mobile){
    padding: 15px;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
    color: #111111;
  }
  .preferences-documents .pref-docs {
    max-width: 420px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;  
    .file-upload {
      position: relative;  
      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
        top: 0;
        cursor: pointer;
      }  
      span {
        background: #10C573;
        color: #fff;
        font-size: 11px;
        padding: 5px 15px;
        border-radius: 2px;
        display: inline-block;
        cursor: pointer;
      }
    }  
    .filename {
      flex-basis: 60%;
      color: #111111;
      font-size: 13px;
      line-height: 26px;
    }
  }  
  .files-names .file-tag {
    background: #F4F8F9;
    font-size: 11px;
    color: #6D8389;
    padding: 6px 10px;
    border-radius: 25px;
    border: 1px solid #DDE6E8;
    margin: 5px;  
    span {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: #B2C9CD;
      border-radius: 50%;
      text-align: center;
      line-height: 17px;
      margin-left: 20px;
      cursor: pointer;
      svg {
        width: 9px;
      }
    }
  }  
  .preferences-documents .files-names {
    margin: 0 -5px;
  }
}
.inbox-subtabs {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  @media(max-width : $breakpoint-mobile){
    display: block;
  }
  .inbox-search {
    max-width: 320px;
    position: relative;
    margin-right: 20px;
    @media(max-width : $breakpoint-mobile){
      margin-right: 0;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      border-radius: 4px;
      height: 40px;
      border: 0;
      outline: none;
      padding: 0 10px 0 34px;
      font-size: 14px;
    }
    span.search-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      svg {
        width: 16px;
        fill: #888;
      }
    }
  }
  .inbox-menu ul li {
    font-size: 14px;
    color: #fff;
    padding: 0 20px !important;
    text-transform: uppercase;
    @media(max-width : $breakpoint-mobile){
      padding: 0 10px !important;
    }
    &.active {
      font-weight: 800;
    }
  }
}
.inbox-body {
  .inbox-detail-scroller {
    overflow-y: auto;
    max-height: 700px;
  }
  .inbox-list {
    position: relative;
    width: 380px;
    background: #F4F8F9; 
    max-height: 700px;
    overflow-y: auto;  
    @media(max-width : $breakpoint-tablet){
      width: 300px;
    }
    @media(max-width : $breakpoint-mobile){
      width: 100%;
    }
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li .inbox-list-main {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 15px 20px;
        border-right: 1px solid #DDE6E8;
        border-bottom: 1px solid #DDE6E8;
        .inb-usr span {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          img {
            width: 100%;
            height: auto;
            min-height: 50px;
          }
        }
        .inb-usr-detail {
          position: relative;
          padding-left: 11px;
          flex-basis: calc(100% - 50px);
          h3 {
            font-size: 15px;
            margin: 0;
            font-weight: 600;
            padding-bottom: 5px;
            padding-right: 50px;
            transition: 0.3s;
          }
          p {
            font-size: 12px;
            color: #6A8A92;
            margin: 0;
          }
          span.msg-date {
            font-size: 12px;
            color: #6A8A92;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &:hover .inb-usr-detail h3 {
          color: #0fcd89;
        }
      }
      li.active .inbox-list-main {
        background: $white;
        border-right: 0;
      }
    }
  }
  display: flex;
  @media(max-width : $breakpoint-mobile){
    display: block;
  }
  .inbox-detail {
    .usr-inbox-detail {
      padding: 30px 45px;
      border-bottom: 1px solid #DDE6E8;
      @media(max-width : $breakpoint-mobile){
        padding: 20px 15px;
      }
      @media(max-width : $breakpoint-tablet){
        padding: 20px 15px;
      }
    }
    flex-basis: calc(100% - 380px);
    @media(max-width : $breakpoint-tablet){
      flex-basis: calc(100% - 300px);
    }
  }
}
.usr-inbox-detail .usr-inbox-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  @media(max-width : $breakpoint-mobile){
    display: block;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding-left: 20px;
      @media(max-width : $breakpoint-mobile){
        padding-left: 0;
        padding-right: 15px;
      }
      .anchor-tag {
        width: 32px;
        height: 32px;
        background: #F4F8F9;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 28px;
        svg {
          fill: #000;
        }
      }
    }
  }
}
.inbox-detail-usr {
  display: flex;
  justify-content: space-between;
  .inb-usr-block {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .inb-usr-img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;
      img {
        width: 100%;
        height: auto;
        min-height: 36px;
      }
    }
    .inb-usr-info {
      h3 {
        font-size: 13px;
        font-weight: 500;
        margin: 0;
        color: #111111;
      }
      p {
        color: #6A8A92;
        margin: 0;
        font-size: 10px;
      }
    }
  }
  .inb-usr-action {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: #F4F8F9;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
  }
  .inb-usr-action svg {
    fill: #000;
  }
}
.inb-content-detail {
  font-size: 13px;
  color: #666666;
  margin-bottom: 24px;
  line-height: 26px;

  p {
    margin-bottom: 10px;
  }
}
.inbox-body .inbox-detail {
  .usr-inbox-detail .inb-attachments ul {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    li {
      display: inline-block;
      margin: 10px;
      .attachment-view {
        span {
          &.attachmnent-icon {
            background: #F4F8F9;
            display: inline-block;
            padding: 13px 10px;
            margin-right: 14px;
            svg {
              fill: #6A8A92;
              width: 16px;
            }
          }
          &.attachment-download-icon {
            svg {
              fill: #006CAA;
              width: 21px;
            }
            margin-left: 14px;
          }
        }
        font-size: 12px;
        color: #111111;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          color: #10c87c;
        }
      }
    }
  }
  .usr-inbox-trail {
    padding: 20px 45px;
    border-bottom: 1px solid #DDE6E8;
    @media(max-width : $breakpoint-mobile){
      padding: 20px 15px;
    }
    @media(max-width : $breakpoint-tablet){
      padding: 20px 15px;
    }
    .inb-content-detail {
      margin-bottom: 0;
      p {
        margin: 0;
      }
    }
  }
  .usr-inbox-ftr {
    padding: 10px;
    background: #F4F8F9;
    border: 1px solid #DDE6E8;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    .add-attachment svg {
      fill: #111111;
      width: 21px;
    }
    .messege-send-btn button {
      background: #10C573;
      color: #fff;
      border: 0;
      outline: none;
      font-size: 13px;
      font-weight: 700;
      padding: 10px 32px;
      line-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 2px;
    }
    .messege-box {
      flex-basis: 100%;
      margin: 0 20px;
      position: relative;
      input {
        width: 100%;
        padding: 0 35px 0 10px;
        height: 40px;
        border: 0;
        border-radius: 2px;
        color: #222;
        outline: none;
        font-size: 13px;
      }
      span {
        position: absolute;
        cursor: pointer;
        top: 9px;
        right: 6px;
        svg {
          fill: #666666;
          width: 21px;
          transition: 0.3s;
        }
        &:hover svg {
          fill: #10c573;
        }
      }
    }
    .add-attachment {
      line-height: 40px;
    }
  }
}
.calls-block ul {
  padding: 0;
  list-style: none;
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  @media(max-width : $breakpoint-tablet){
    margin: 0 -7px;
  }
  li {
    padding: 15px;
    flex-basis: 33.33%;
    @media(max-width : $breakpoint-tablet){
      flex-basis: 100%;
      padding: 7px;
    }
    .call-box-main {
      background: #F4F8F9;
      border: 1px solid #DDE6E8;
      padding: 15px;
      position: relative;
      .call-waiting{
        background: #fff;
        padding: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        p{
          margin: 0;
          color: #F00332;
          font-size: 12px;
          line-height: 17px;
          padding-bottom: 10px;
        }
        .btn-join{
          font-size: 11px;
            font-weight: 600;
            border: 0;
            color: $white;
            padding: 5px 13px;
            border-radius: 2px;
            box-shadow: 0px 0px 15.68px 0.32px rgba(0, 113, 178, 0.4);
        }
      }
      .call-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        .call-user-info {
          .call-user-img {
            width: 56px;
            min-width: 56px;
            height: 56px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 12px;
            img {
              width: 100%;
              height: auto;
              min-height: 56px;
            }
          }
          .call-user-name {
            h3 {
              margin: 0;
              font-size: 13px;
              font-weight: 600;
            }
            p {
              margin: 0;
              color: #7F9095;
              font-size: 10px;
              padding-bottom: 3px;
            }
          }
          display: flex;
          align-items: center;
        }
        .call-rates{
          label{
            font-size: 13px;
            background: #10C573;
            color: #fff;
            border-radius: 3px;
            margin: 0;
            padding: 3px 9px;
            display: inline-block;
            text-align: center;
          }
          span{
            display: block;
            font-size: 11px;
            color: #7F9095;
          }
        }
      }
      .call-body {
        p {
          font-size: 12px;
          margin: 0;
          line-height: 17px;
        }
        margin-bottom: 32px;
      }
      .call-ftr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width : $breakpoint-mobile){
          display: block;
        }
        .call-timing {
          @media(max-width : $breakpoint-mobile){
            margin-bottom: 10px;
          }
          .call-date {
            font-size: 13px;
            margin: 0;
          }
          .call-time {
            font-size: 12px;
            color: #7F9095;
            margin: 0;
          }
        }
        .call-action{
          .btn-schedule{
            font-size: 11px;
            font-weight: 600;
            border: 0;
            color: $white;
            padding: 5px 13px;
            margin-right: 10px;
            border-radius: 2px;
            box-shadow: 0px 0px 15.68px 0.32px rgba(0, 113, 178, 0.4);
          }
          .btn-cancel{
            font-size: 11px;
            font-weight: 600;
            border: 0;
            background: #fff;
            color: #F00332;
            padding: 5px 13px;
            border-radius: 2px;
          }
        }
      }
    }
  }
}