<!-- Loader -->
<!-- <div class="loader">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div> -->
<!-- Loader -->

<section class="home-banner">
    <div class="container">
        <div class="banner-content">
            <div class="banner-intro">
                <h3>TIMELY EXPERT ADVICE</h3>
                <div class="promoline">
                    <svg class="icon" viewBox="0 0 324 40">
                        <use xlink:href="#anytime-text"></use>
                    </svg>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, </p>
                <span class="theme-btn-secondary">
                    GET STARTED
                    <svg class="icon" viewBox="0 0 512 512">
                        <use xlink:href="#arrow"></use>
                    </svg>
                </span>
            </div>
            <div class="banner-image">
                <img src="../../assets/images/home/home-promo.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="need-expert">
    <div class="container">
        <div class="need-experty-content">
            <h3>Need an Expert?</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
    </div>
</section>
<section class="how-works">
    <div class="container">
        <div class="how-work-block">
            <div class="how-work-content">
                <h3>How it Works</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here</p>
                <div class="how-work-more">
                    <span class="theme-btn-primary">Know More</span>
                </div>
            </div>
            <div class="how-work-grid">
                <div class="grid-box">
                    <div class="work-box-icon">
                        <svg class="icon" viewBox="0 0 342 342">
                            <use xlink:href="#home-file"></use>
                        </svg>  
                    </div>
                    <h3>State your Requirements</h3>
                </div>
                <div class="grid-box">
                    <div class="work-box-icon">
                        <svg class="user-group" viewBox="0 0 318 138">
                            <use xlink:href="#group"></use>
                          </svg> 
                    </div>
                    <h3>Pick the Expert from the list</h3>
                </div>
                <div class="grid-box">
                    <div class="work-box-icon">
                        <svg class="icon" viewBox="0 0 177 177">
                            <use xlink:href="#phone-bold"></use>
                          </svg>
                    </div>
                    <h3>Schedule a Call</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-queries">
    <div class="container">
        <div class="home-queries-main">
            <div class="hq-title">
                <h3>Currently Active Queries</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="hq-list">
                <ul>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dash-query-list">
                            <h3>Looking for an expert to understand the Automobile market in South Africa</h3>
                            <div class="dash-query-box">
                                <div class="dq-ftr">
                                    <div class="dq-dated">
                                        <svg class="icon" viewBox="0 0 512 512">
                                            <use xlink:href="#calendar"></use>
                                        </svg>
                                        Mar, 05
                                    </div>
                                    <div class="dq-atg">
                                        <span class="theme-btn-primary">Refer someone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="show-more-queries">
                <span class="theme-btn-primary">View all questions</span>
            </div>
        </div>
    </div>
</section>
<section class="client-testimonials">
    <div class="container">
        <div class="testimonial-main">
            <div class="testimonials-title">
                <h3>What our clients say?</h3>
                <p>Our happy 150+ clients feedback</p>
            </div>
            <div class="testimonial-slider-block">              
                <!-- swiper slider -->
                <swiper [config]="configNEW" [index]=carIndex (indexChange)="onIndexChange($event)"
                    class="swiper-container gallery-top">
                    <div class="tm-slide">
                        <span class="quote-left">
                            <svg class="icon" viewBox="0 0 95.333 95.332">
                                <use xlink:href="#quote-up"></use>
                            </svg>
                        </span>
                        <h3>They are some of the best people in this business at building funnels and producing quality
                            results for their clients</h3>
                        <span class="quote-right">
                            <svg class="icon" viewBox="0 0 98.829 98.829">
                                <use xlink:href="#quote-down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="tm-slide">
                        <span class="quote-left">
                            <svg class="icon" viewBox="0 0 95.333 95.332">
                                <use xlink:href="#quote-up"></use>
                            </svg>
                        </span>
                        <h3>They are some of the best people in this business at building funnels and producing quality
                            results for their clients</h3>
                        <span class="quote-right">
                            <svg class="icon" viewBox="0 0 98.829 98.829">
                                <use xlink:href="#quote-down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="tm-slide">
                        <span class="quote-left">
                            <svg class="icon" viewBox="0 0 95.333 95.332">
                                <use xlink:href="#quote-up"></use>
                            </svg>
                        </span>
                        <h3>They are some of the best people in this business at building funnels and producing quality
                            results for their clients</h3>
                        <span class="quote-right">
                            <svg class="icon" viewBox="0 0 98.829 98.829">
                                <use xlink:href="#quote-down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="tm-slide">
                        <span class="quote-left">
                            <svg class="icon" viewBox="0 0 95.333 95.332">
                                <use xlink:href="#quote-up"></use>
                            </svg>
                        </span>
                        <h3>They are some of the best people in this business at building funnels and producing quality
                            results for their clients</h3>
                        <span class="quote-right">
                            <svg class="icon" viewBox="0 0 98.829 98.829">
                                <use xlink:href="#quote-down"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="tm-slide">
                        <span class="quote-left">
                            <svg class="icon" viewBox="0 0 95.333 95.332">
                                <use xlink:href="#quote-up"></use>
                            </svg>
                        </span>
                        <h3>They are some of the best people in this business at building funnels and producing quality
                            results for their clients</h3>
                        <span class="quote-right">
                            <svg class="icon" viewBox="0 0 98.829 98.829">
                                <use xlink:href="#quote-down"></use>
                            </svg>
                        </span>
                    </div>
                </swiper>
                <swiper [config]="configNewDuplicate" [index]=carIndex (indexChange)="onIndexChange($event)"
                    class="duplicateCarousel swiper-container gallery-thumbs">
                    <div class="thumbnail-main">
                        <div class="thumbnail-img">
                            <span><img src="https://i.pinimg.com/600x315/a6/0d/68/a60d685194a7fd984d08a595a0a99ae7.jpg" alt=""></span>
                        </div>
                        <div class="client-detail">
                            <div class="client-name">John Doe</div>
                            <div class="post">General Manager at GOSHWARA</div>
                        </div>
                    </div>
                    <div class="thumbnail-main">
                        <div class="thumbnail-img">
                            <span><img src="https://i.pinimg.com/600x315/a6/0d/68/a60d685194a7fd984d08a595a0a99ae7.jpg" alt=""></span>
                        </div>
                        <div class="client-detail">
                            <div class="client-name">John Doe</div>
                            <div class="post">General Manager at GOSHWARA</div>
                        </div>
                    </div>
                    <div class="thumbnail-main">
                        <div class="thumbnail-img">
                            <span><img src="https://i.pinimg.com/600x315/a6/0d/68/a60d685194a7fd984d08a595a0a99ae7.jpg" alt=""></span>
                        </div>
                        <div class="client-detail">
                            <div class="client-name">John Doe</div>
                            <div class="post">General Manager at GOSHWARA</div>
                        </div>
                    </div>
                    <div class="thumbnail-main">
                        <div class="thumbnail-img">
                            <span><img src="https://i.pinimg.com/600x315/a6/0d/68/a60d685194a7fd984d08a595a0a99ae7.jpg" alt=""></span>
                        </div>
                        <div class="client-detail">
                            <div class="client-name">John Doe</div>
                            <div class="post">General Manager at GOSHWARA</div>
                        </div>
                    </div>
                    <div class="thumbnail-main">
                        <div class="thumbnail-img">
                            <span><img src="https://i.pinimg.com/600x315/a6/0d/68/a60d685194a7fd984d08a595a0a99ae7.jpg" alt=""></span>
                        </div>
                        <div class="client-detail">
                            <div class="client-name">John Doe</div>
                            <div class="post">General Manager at GOSHWARA</div>
                        </div>
                    </div>
                </swiper>

                <!-- swiper  -->


            </div>
        </div>
    </div>
</section>
<section class="our-business">
    <div class="container">
        <h3>THEY GET THE EXPERT TO BEST THEIR BUSINESSES</h3>
        <div class="business-group-list">
            <ul>
                <li><img src="../../assets/images/home/client5.jpg" alt=""></li>
                <li><img src="../../assets/images/home/client4.jpg" alt=""></li>
                <li><img src="../../assets/images/home/client3.jpg" alt=""></li>
                <li><img src="../../assets/images/home/client2.jpg" alt=""></li>
                <li><img src="../../assets/images/home/client1.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</section>
<section class="home-faqs">
    <div class="container">
        <div class="home-faq-main">
            <h2>Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-sm-12">
                    <div class="faq-block">
                        <ngb-accordion [closeOthers]="false" activeIds="static-1">
                            <ngb-panel id="static-1">
                                <ng-template ngbPanelTitle>
                                    <div class="faq-title">
                                        This is Photoshop’s version of Lorem Ipsum dollar.
                                        <span class="faq-toggle-icon"></span>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                    eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2">
                                <ng-template ngbPanelTitle>
                                    <div class="faq-title">
                                        This is Photoshop’s version of Lorem Ipsum dollar.
                                        <span class="faq-toggle-icon"></span>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                    eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3">
                                <ng-template ngbPanelTitle>
                                    <div class="faq-title">
                                        This is Photoshop’s version of Lorem Ipsum dollar.
                                        <span class="faq-toggle-icon"></span>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                    eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-4">
                                <ng-template ngbPanelTitle>
                                    <div class="faq-title">
                                        This is Photoshop’s version of Lorem Ipsum dollar.
                                        <span class="faq-toggle-icon"></span>
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                    eiusmod. Brunch 3 wolf moon tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                    et. Nihil anim keffiyeh helvetica,
                                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                    excepteur butcher vice lomo. Leggings
                                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't heard of them accusamus
                                    labore sustainable VHS.
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                    <div class="view-more-question text-center">
                        <span class="theme-btn-primary">View all questions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>