<button class="btn btn-primary" (click)="loginModal(openLogin)">Login</button> 
<button class="btn btn-primary" (click)="signupModal(openSignup)">Signup</button> 

<ng-template #openLogin let-modal>
    <div class="close"><a href="javascript:void(0);" (click)="modal.close()">
            <svg viewBox="0 0 475 475" class="icon">
                <use xlink:href="#close"></use>
            </svg>
        </a></div>
    <app-login></app-login>
</ng-template>

<ng-template #openSignup let-modal>
    <div class="close"><a href="javascript:void(0);" (click)="modal.close()">
            <svg viewBox="0 0 475 475" class="icon">
                <use xlink:href="#close"></use>
            </svg>
        </a></div>
    <app-signup></app-signup>
</ng-template>