<div class="profile-setting-main">
    <div class="profile-setting-head">
        <h3>Setting & Profile</h3>
        <div class="pro-set-tabs">
            <ul>
                <li [ngClass]="ProMyprofileShow ? 'active': ''">
                    <span class="anchor-tag" (click)="ProMyprofile()">Update My Profile</span>
                </li>
                <li [ngClass]="ProScheduleShow ? 'active': ''">
                    <span class="anchor-tag" (click)="ProSchedule()">Update My Schedule</span>
                </li>
                <li [ngClass]="ProPaymentShow ? 'active': ''">
                    <span class="anchor-tag" (click)="ProPayment()">Payments & Banking</span>
                </li>
                <li [ngClass]="ProTransactionShow ? 'active': ''">
                    <span class="anchor-tag" (click)="ProTransaction()">Transactions</span>
                </li>
                <li [ngClass]="ProPreferencesShow ? 'active': ''">
                    <span class="anchor-tag" (click)="ProPreferences()">Other Preferences</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile-setting-body">
        <div class="proset-schedule" *ngIf="ProScheduleShow">
            <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
            </mwl-calendar-month-view>
        </div>
        <!-- proset-schedule -->
        <div class="proset-profile" *ngIf="ProMyprofileShow">
            <div class="usr-profile-details">
                <div class="usr-pro-left">
                    <div class="usr-pro-sidebar">
                        <ul>
                            <li class="anchor-tag" [ngClass]="usrGenInfoShow ? 'active': ''" (click)="ProGenInfo()">
                                GENERAL INFO</li>
                            <li class="anchor-tag" [ngClass]="userExperienceShow ? 'active': ''" (click)="ProExp()">
                                EXPERIENCE</li>
                            <li class="anchor-tag" [ngClass]="userEducationShow ? 'active': ''" (click)="ProEdu()">
                                EDUCATION</li>
                            <li class="anchor-tag" [ngClass]="userOtherShow ? 'active': ''" (click)="ProOth()">OTHER
                                NOTABLES</li>
                        </ul>
                    </div>
                </div>
                <div class="usr-pro-right">
                    <div class="usr-pro-form">
                        <div class="usr-profile-view">
                            <div class="usr-profile-view-left">
                                <div class="usr-pro-img">
                                    <img src="https://www.abc.net.au/radionational/image/6584190-1x1-340x340.jpg"
                                        alt="">
                                </div>
                                <div class="add-edit-proile">
                                    <input type="file" name="" id="">
                                    <span>Add/Edit Profile Picture</span>
                                </div>
                            </div>
                            <div class="usr-profile-view-right">
                                <div class="style-check">
                                    <input type="checkbox" id="hideName" name="hideName" />
                                    <span for="hideName">Hide my name</span>
                                </div>
                                <div class="style-check">
                                    <input type="checkbox" id="hidePic" name="hidePic" />
                                    <span for="hideName">Hide my profile picture</span>
                                </div>
                            </div>
                        </div>

                        <div class="usr-gen-pro" *ngIf="usrGenInfoShow">
                            <form action="" id="genForm" method="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Full Name</label>
                                            <input type="text" class="custom-form-control" name="FullName" id="FullName"
                                                placeholder="Full Name" [(ngModel)]="userDetailsModel.fullName"
                                                #fullNameValue="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">User Name/Display Name</label>
                                            <input type="text" class="custom-form-control" name="UserName" id="UserName"
                                                placeholder="User Name/Display Name"
                                                [(ngModel)]="userDetailsModel.fullName" #fullNameValue="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Password</label>
                                            <div class="psw-group">
                                                <input type="password" class="custom-form-control" name="Password"
                                                    id="Password" placeholder="Password"
                                                    [(ngModel)]="userDetailsModel.password" #passwordValue="ngModel" />
                                                <span>Show password</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Email</label>
                                            <input type="text" class="custom-form-control" name="Email" id="Email"
                                                placeholder="Email" [(ngModel)]="userDetailsModel.email"
                                                #emailValue="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Hourly Rate ($)</label>
                                            <input type="text" class="custom-form-control" name="HourlyRate"
                                                id="HourlyRate" placeholder="Hourly Rate ($)"
                                                [(ngModel)]="userDetailsModel.hourlyRate" #hourlyRideValue="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="">Country</label>
                                                    <input type="text" class="custom-form-control" name="Country"
                                                        id="Country" placeholder="Country"
                                                        [(ngModel)]="userDetailsModel.country"
                                                        #countryValue="ngModel" />
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    <label for="">Phone Number</label>
                                                    <input type="text" class="custom-form-control" name="PhoneNumber"
                                                        id="PhoneNumber" placeholder="Phone Number"
                                                        [(ngModel)]="userDetailsModel.phoneNumber"
                                                        #phoneNumberValue="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Linkedin Profile URL</label>
                                            <div class="import-group">
                                                <input type="text" class="custom-form-control"
                                                    placeholder="Linkedin Profile URL" />
                                                <span class="anchor-tag">Import Profile</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Title</label>
                                            <input type="text" class="custom-form-control" name="OfficialEmail"
                                                id="OfficialEmail" placeholder="Your official email ID"
                                                [(ngModel)]="userDetailsModel.officialEmail" #fullNameValue="ngModel" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">About</label>
                                            <textarea class="custom-form-control" name="" id="" rows="3"
                                                placeholder="About"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group text-right">
                                            <button class="theme-btn-primary">Save and next</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="usr-pro-right-exp" *ngIf="userExperienceShow">
                            <form action="" id="expForm">
                                <div class="pro-card-box">
                                    <div class="remove-box">
                                        <span class="anchor-tag">
                                            <svg viewBox="0 0 475 475" class="icon">
                                                <use xlink:href="#close"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Title</label>
                                                <input type="text" class="custom-form-control" name="title"
                                                    id="title" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Company</label>
                                                <input type="text" class="custom-form-control" name="company"
                                                    id="Company" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Industry</label>
                                                <input type="text" class="custom-form-control" name="industry"
                                                    id="Industry" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Specialities</label>
                                                <input type="text" class="custom-form-control" name="specialities"
                                                    id="Specialities" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">From date</label>
                                                <input type="text" class="custom-form-control" name="fromDate"
                                                    id="fromDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">To date</label>
                                                <input type="text" class="custom-form-control" name="toDate"
                                                    id="toDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Location</label>
                                                <input type="text" class="custom-form-control" name="location"
                                                    id="location" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Work description</label>
                                                <textarea class="custom-form-control" name="description"
                                                    id="description" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right profile-submit-btn">
                                    <button class="theme-btn-primary">Save and next</button>
                                </div>
                            </form>
                        </div>
                        <div class="usr-pro-right-edu" *ngIf="userEducationShow">
                            <form action="" id="eduForm">
                                <div class="pro-card-box">
                                    <div class="remove-box">
                                        <span class="anchor-tag">
                                            <svg viewBox="0 0 475 475" class="icon">
                                                <use xlink:href="#close"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Institute</label>
                                                <input type="text" class="custom-form-control" name="Institute"
                                                    id="Institute" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Degree / Program</label>
                                                <input type="text" class="custom-form-control" name="degree"
                                                    id="degree" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">From date</label>
                                                <input type="text" class="custom-form-control" name="fromDate"
                                                    id="fromDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">To date</label>
                                                <input type="text" class="custom-form-control" name="toDate"
                                                    id="toDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Location</label>
                                                <input type="text" class="custom-form-control" name="location"
                                                    id="location" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Description</label>
                                                <textarea class="custom-form-control" name="description"
                                                    id="description" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right profile-submit-btn">
                                    <button class="theme-btn-primary">Save and next</button>
                                </div>
                            </form>
                        </div>
                        <div class="usr-pro-right-oth" *ngIf="userOtherShow">
                            <form action="" id="othForm">
                                <div class="pro-card-box">
                                    <div class="remove-box">
                                        <span class="anchor-tag">
                                            <svg viewBox="0 0 475 475" class="icon">
                                                <use xlink:href="#close"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Title</label>
                                                <input type="text" class="custom-form-control" name="Title"
                                                    id="Title" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">From date</label>
                                                <input type="text" class="custom-form-control" name="fromDate"
                                                    id="fromDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="">To date</label>
                                                <input type="text" class="custom-form-control" name="toDate"
                                                    id="toDate" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="">Location</label>
                                                <input type="text" class="custom-form-control" name="location"
                                                    id="location" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="">Work description</label>
                                                <textarea class="custom-form-control" name="description"
                                                    id="description" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right profile-submit-btn">
                                    <button class="theme-btn-primary">Save and next</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- proset-profile -->
        <div class="proset-payment" *ngIf="ProPaymentShow">
            <form action="" name="" id="">
                <div class="payment-main">
                    <div class="pay-method">
                        <div class="block-title">
                            <h3>Payment Methods</h3>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Select a Payment Method</label>
                                        <input type="text" class="custom-form-control" name="payMethod"
                                            placeholder="Debit / Credit Card" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pay-card-billing">
                        <div class="col-sm-6">
                            <div class="pay-card-info">
                                <div class="block-title">
                                    <h3>Card Information</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Account Hoder’s Name</label>
                                            <input type="text" class="custom-form-control" name="accHolder"
                                                placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Card Number</label>
                                            <div class="visa-card-info">
                                                <input type="text" class="custom-form-control" name="cardNo"
                                                    placeholder="Name" />
                                                <span>
                                                    <svg class="icon" viewBox="0 0 402 258">
                                                        <use xlink:href="#visa"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Expires on</label>
                                            <input type="text" class="custom-form-control" name="expDate"
                                                placeholder="Date" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Security Code</label>
                                            <input type="text" class="custom-form-control" name="secCode"
                                                placeholder="Security Code" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pay-billing-address">
                                <div class="block-title">
                                    <h3>Billing Address</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Address</label>
                                            <input type="text" class="custom-form-control" name="address"
                                                placeholder="Address" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Country</label>
                                            <input type="text" class="custom-form-control" name="country"
                                                placeholder="Country" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">State</label>
                                            <input type="text" class="custom-form-control" name="state"
                                                placeholder="State" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">City</label>
                                            <input type="text" class="custom-form-control" name="city"
                                                placeholder="City" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Zip</label>
                                            <input type="text" class="custom-form-control" name="zipCode"
                                                placeholder="Zip" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay-add-account">
                        <div class="block-title">
                            <h3>Add Bank Account to receive refund / payment</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Account No.</label>
                                    <input type="text" class="custom-form-control" name="accNo"
                                        placeholder="Account No." />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Account Type</label>
                                    <select class="custom-form-control" name="accNo">
                                        <option value="">Saving Account</option>
                                        <option value="">Current Account</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Account Holder Name</label>
                                    <input type="text" class="custom-form-control" name="accName"
                                        placeholder="Account No." />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Bank Name</label>
                                    <select class="custom-form-control" name="bankName">
                                        <option value="">Select Bank Name</option>
                                        <option value="">ICICI</option>
                                        <option value="">HDFC</option>
                                        <option value="">SBI</option>
                                        <option value="">BOI</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">SWIFT Code / Routing No.</label>
                                    <input type="text" class="custom-form-control" name="swfNo"
                                        placeholder="SWIFT Code / Routing No." />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group">
                                    <label for="">Bank Address</label>
                                    <input type="text" class="custom-form-control" name="bankAdddress"
                                        placeholder="Address" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Country</label>
                                    <input type="text" class="custom-form-control" name="RefCountry"
                                        placeholder="Country" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">State</label>
                                    <input type="text" class="custom-form-control" name="RefState"
                                        placeholder="Country" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">City</label>
                                    <input type="text" class="custom-form-control" name="RefCity"
                                        placeholder="Country" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="">Zip</label>
                                    <input type="text" class="custom-form-control" name="RefZip"
                                        placeholder="Country" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pay-submit text-right">
                        <button class="btn btn-save">Save and next</button>
                    </div>
                </div>
            </form>
        </div><!-- proset-payment -->
        <div class="proset-transaction" *ngIf="ProTransactionShow">
            <form action="" method="" id="" name="">
                <div class="transition-filter">
                    <div class="filter-left">
                        <div class="inp-filter">
                            <label for="">Country</label>
                            <input type="text" class="custom-form-control" />
                        </div>
                        <div class="inp-filter">
                            <label for="">Country</label>
                            <input type="text" class="custom-form-control" />
                        </div>
                        <div class="inp-filter-btn">
                            <button class="btn-gradient btn-go">Go</button>
                        </div>
                    </div>
                    <div class="filter-right">
                        <div class="filter-icon">
                            <span class="anchor-tag">
                                <svg class="icon-filter" viewBox="0 0 900 786">
                                    <use xlink:href="#filter"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="download-csv">
                            <button class="btn-download">Download CSV</button>
                        </div>
                    </div>
                </div>
                <div class="transition-data">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Client/Expert</th>
                                <th>Description</th>
                                <th>Amount ($)</th>
                                <th>Reference ID</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Today</td>
                                    <td>Credit</td>
                                    <td>Jimmy Joseph</td>
                                    <td>Discussion over construction business company</td>
                                    <td>250</td>
                                    <td>54326432</td>
                                </tr>
                                <tr>
                                    <td>05/30/2020</td>
                                    <td>Credit</td>
                                    <td>Jimmy Joseph</td>
                                    <td>Discussion over construction business company</td>
                                    <td>250</td>
                                    <td>54326432</td>
                                </tr>
                                <tr>
                                    <td>Today</td>
                                    <td>Credit</td>
                                    <td>Jimmy Joseph</td>
                                    <td>Discussion over construction business company</td>
                                    <td>250</td>
                                    <td>54326432</td>
                                </tr>
                                <tr>
                                    <td>05/12/2020</td>
                                    <td>Credit</td>
                                    <td>Jimmy Joseph</td>
                                    <td>Charged towards call fee</td>
                                    <td>250</td>
                                    <td>54326432</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

        </div><!-- proset-transaction -->
        <div class="proset-preferences" *ngIf="ProPreferencesShow">
            <div class="row">
                <div class="col-sm-8">
                    <div class="preference-block">
                        <h4>As a Client</h4>
                        <p>Agreement (All the experts I interact with needs to sign this)</p>
                        <div class="preferences-documents">
                            <div class="pref-docs">
                                <div class="filename">
                                    Upload Documents
                                </div>
                                <div class="file-upload">
                                    <input type="file">
                                    <span>Browse Document</span>
                                </div>
                            </div>
                            <div class="files-names">
                                <label class="file-tag">
                                    NDA-XYZ-Company.pdf
                                    <span>
                                        <svg viewBox="0 0 475 475" class="icon">
                                            <use xlink:href="#close"></use>
                                        </svg>
                                    </span>
                                </label>
                                <label class="file-tag">
                                    NDA-XYZ-Company.pdf
                                    <span>
                                        <svg viewBox="0 0 475 475" class="icon">
                                            <use xlink:href="#close"></use>
                                        </svg>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="preference-block">
                        <h4>As an Expert</h4>
                        <p>Companies or Industries types that I cannot consult with</p>
                        <div class="chipset-theme">
                            <tag-input placeholder="Add Company / Industry"></tag-input>
                        </div>
                    </div>
                    <div class="preference-block">
                        <h4>As an Expert (My Topics of Interest)</h4>
                        <p>Agreement (All the experts I interact with needs to sign this)</p>
                        <div class="chipset-theme">
                            <tag-input placeholder="Add Topic"></tag-input>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="notify-setting">
                        <div class="nsetting-block">
                            <div class="nsetting-title">
                                SMS Reminders
                            </div>
                            <div class="nsetting-title-toggle">
                                <label class="notify-toggle">
                                    <input type="checkbox" id="smsReminder" name="smsReminder">
                                    <span>&nbsp;</span>
                                </label>
                            </div>
                        </div>
                        <div class="nsetting-block">
                            <div class="nsetting-title">
                                Email Reminders
                            </div>
                            <div class="nsetting-title-toggle">
                                <label class="notify-toggle">
                                    <input type="checkbox" id="emailReminder" name="emailReminder">
                                    <span>&nbsp;</span>
                                </label>
                            </div>
                        </div>
                        <div class="nsetting-block">
                            <div class="nsetting-title">
                                New Query Notifications
                            </div>
                            <div class="nsetting-title-toggle">
                                <label class="notify-toggle">
                                    <input type="checkbox" id="queryNotification" name="queryNotification">
                                    <span>&nbsp;</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- proset-preferences -->
    </div>
</div>


<button class="btn btn-outline-primary" (click)="reviewModal(content)">Review profile modal</button>

<ng-template #content let-modal>
    <div class="theme-modal">
        <div class="modal-close">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <svg viewBox="0 0 475 475" class="icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>
        </div>
        <div class="query-modal-content">
            <div class="query-modal-head mb-3">
                <div class="modal-query-title">
                    <h3>Review profile details</h3>
                </div>
            </div>
            <div class="profile-modal-body">
            <form action="">                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="theme-bg-border-box">
                            <div class="form-group">
                                <label for="">Linkedin Profile URL</label>
                                <div class="input-text-group">
                                    <input type="text" class="custom-form-control" name="profileURL" />
                                    <span>CHANGE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Full Name</label>
                            <input type="text" class="custom-form-control" name=""/>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="custom-form-control" name=""/>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Location</label>
                            <input type="text" class="custom-form-control" name=""/>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">About</label>
                            <textarea class="custom-form-control" name="" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3>Experience</h3>
                        <div class="pro-card-box">
                            <div class="remove-box">
                                <span class="anchor-tag">
                                    <svg viewBox="0 0 475 475" class="icon">
                                        <use xlink:href="#close"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Title</label>
                                        <input type="text" class="custom-form-control" name="title"
                                            id="title" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Company</label>
                                        <input type="text" class="custom-form-control" name="company"
                                            id="Company" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Industry</label>
                                        <input type="text" class="custom-form-control" name="industry"
                                            id="Industry" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Specialities</label>
                                        <input type="text" class="custom-form-control" name="specialities"
                                            id="Specialities" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">From date</label>
                                        <input type="text" class="custom-form-control" name="fromDate"
                                            id="fromDate" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">To date</label>
                                        <input type="text" class="custom-form-control" name="toDate"
                                            id="toDate" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <input type="text" class="custom-form-control" name="location"
                                            id="location" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Work description</label>
                                        <textarea class="custom-form-control" name="description"
                                            id="description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3>Accomplishments</h3>
                        <div class="pro-card-box">
                            <div class="remove-box">
                                <span class="anchor-tag">
                                    <svg viewBox="0 0 475 475" class="icon">
                                        <use xlink:href="#close"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Title</label>
                                        <input type="text" class="custom-form-control" name="Title"
                                            id="Title" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">From date</label>
                                        <input type="text" class="custom-form-control" name="fromDate"
                                            id="fromDate" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">To date</label>
                                        <input type="text" class="custom-form-control" name="toDate"
                                            id="toDate" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Location</label>
                                        <input type="text" class="custom-form-control" name="location"
                                            id="location" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Work description</label>
                                        <textarea class="custom-form-control" name="description"
                                            id="description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group text-right">
                            <button class="theme-btn-tursary mr-2">Reset</button>
                            <button class="theme-btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</ng-template>